---
const { company } = Astro.props;
---
<div class="col4-2 first tf_box tf_float py-2">
    <div id="text-1004" class="widget widget_text">
      <div class="textwidget">
        <hr
          style="width: 1%; height: 1px; border-radius: 7px; border: 0px; text-align: center; margin-left: 0; background: ;"
        />
        <p>
          <b>{company.name}</b> | Kesambi Cirebon
        </p>
      </div>
    </div>
  </div>