---
const {contact} = Astro.props;
---
<div class="floatwa">
    <div class="tombolwa whatsapp">
      <a
        href={`https://api.whatsapp.com/send?phone=${contact.whatsapp}`}
        target="_blank"> <em><svg role="img" class="tf_fa fa-whatsapp">
                          <use href="#fa-whatsapp"></use>
                      </svg></em></a>
    </div>

    <div class="tombolwa phone">
      <a href={`tel:${contact.phone}`} target="_blank">
        <em><svg role="img" class="tf_fa fa-phone">
                          <use href="#fa-phone"></use>
                      </svg></em></a>
    </div>
  </div>