---
const {company} = Astro.props;

---
<div class="footer-logo-wrapper tf_clearfix">
    <div id="footer-logo">
      <a href="/" title={company.name}
        ><img
          src="/assets/images/logo/logo.png"
          alt={company.name}
          title="ponpes kanzul ulum"
          width="200"
          height=""
          class="site-logo-image"
        /></a
      >
    </div>
    <!-- /footer-logo -->
  </div>