<div class="col4-2 tf_box tf_float">
    <div id="text-1008" class="widget widget_text">
      <h4 class="widgettitle">Kontak</h4>
      <div class="textwidget">
        <div
          style="background: url('/galeri/2021/11/icon-whatsapp.png') no-repeat 0 5px; padding: 5px 0 0 30px;"
        >
          +62 857-4107-0076 (Muhamad Ulul Fahmi)
        </div>
        <div
          style="background: url('/galeri/2021/11/icon-whatsapp.png') no-repeat 0 5px; padding: 5px 0 0 30px;"
        >
          +62 821-3844-5528 (Imam Nakhrowi)
        </div>
        <div
          style="background: url('/galeri/2021/11/icon-whatsapp.png') no-repeat 0 5px; padding: 5px 0 0 30px;"
        >
          +62 896-1719-1635 (Ahmad Abdul Ghofur)
        </div>
        <div
          style="background: url('/galeri/2021/11/icon-email.png') no-repeat 0 5px; padding: 5px 0 0 30px;"
        >
          ppkanzul ulum999@gmail.com
        </div>
      </div>
    </div>
  </div>