<div class="col4-2 first tf_box tf_float">
    <div id="text-1007" class="widget widget_text">
      <h4 class="widgettitle">Alamat</h4>
      <div class="textwidget">
        <div
          style="background: url('/galeri/2021/11/icon-office.png') no-repeat 0 5px; padding: 5px 0 0 30px;"
        >
          Jl. XXX
        </div>
      </div>
    </div>
  </div>