 <!-- module_row -->
 <div
 data-lazy="1"
 class="module_row themify_builder_row tb_ek1b456 tf_clearfix"
>
 <div class="row_inner col_align_top tf_box tf_w tf_rel">
   <div
     data-lazy="1"
     class="module_column tb-column col-full first tb_8wbe458 tf_box"
   >
     <div class="tb-column-inner tf_box tf_w">
       <!-- module text -->
       <div
         class="module module-text tb_1jld592"
         data-lazy="1"
       >
         <div class="tb_text_wrap">
           <h4 style="text-align: center;">
             Majelis Rutin Ponpes Kanzul Ulum
           </h4>
         </div>
       </div>
       <!-- /module text --><!-- module divider -->
       <div
         class="module tf_mw module-divider tb_f39d742 solid divider-custom divider-center"
         style="border-width: 1px;border-color: #000000;margin-top: -5px;margin-bottom: 20px;width: 30px;"
         data-lazy="1"
       >
       </div>
       <!-- /module divider -->
       <div
         class="module tf_clearfix themify_builder_slider_wrap module-slider tb_thft854 slider-default"
         data-lazy="1"
       >
         <div
           class="themify_builder_slider tf_carousel tf_swiper-container tf_rel tf_overflow"
           data-lazy="1"
           data-tbreakpoints="1280"
           data-mbreakpoints="680"
           data-visible="3"
           data-tab-visible="0"
           data-mob-visible="2"
           data-scroll="1"
           data-auto="2000"
           data-controller="0"
           data-pause_hover="1"
           data-speed="1"
           data-wrapvar="1"
           data-slider_nav="0"
           data-pager="1"
           data-effect="scroll"
           data-height="variable"
           data-horizontal="0"
           data-css_url="https:/wp-content/themes/themify-ultra/themify/themify-builder/css/modules/sliders/carousel.css,https:/wp-content/themes/themify-ultra/themify/themify-builder/css/modules/sliders/slider.css"
         >
           <div
             class="tf_swiper-wrapper tf_lazy tf_rel tf_w tf_h tf_textc"
           >
             <!-- module slider image -->

             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-7.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-7.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-6.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-6.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-5.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-5.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-4.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-4.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-3.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-3.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-2.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-2.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-1.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-1.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-10.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-10.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-9.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-9.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-8.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-8.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-13.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-13.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-12.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-12.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
             <div class="tf_swiper-slide">
               <div
                 class="slide-inner-wrap"
                 style="margin-left:5px;margin-right:5px;"
               >
                 <div class="tf_rel tf_lazy slide-image">
                   <a
                     href="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-11.jpg"
                   >
                     <img
                       decoding="async"
                       src="/assets/images/galery/galeri-ponpes-darussalam-jatibarang-11.jpg"
                       width="600"
                       height="400"
                       title="Home"
                       alt="Home"
                     />
                   </a>
                 </div><!-- /slide-image -->
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- /row_inner -->
</div>
<!-- /module_row -->