 <!-- module_row -->
 <div
 data-css_id="pemf402"
 data-lazy="1"
 class="module_row themify_builder_row fullwidth tb_pemf402 tb_first tf_clearfix"
>
 <div class="row_inner col_align_top tf_box tf_w tf_rel">
   <div
     data-lazy="1"
     class="module_column tb-column col-full first tb_6jyr405 tf_box"
   >
     <div class="tb-column-inner tf_box tf_w">
       <!-- module widget -->
       <div
         class="module module-widget tb_j710825"
         data-lazy="1"
       >
         <div class="widget widget_revslider">
           <div
             id="rev_slider_1_1_wrapper"
             class="rev_slider_wrapper fullwidthbanner-container"
             data-source="gallery"
             style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;"
           >
             <!-- START REVOLUTION SLIDER 5.4.8.3 auto mode -->
             <div
               id="rev_slider_1_1"
               class="rev_slider fullwidthabanner"
               style="display:none;"
               data-version="5.4.8.3"
             >
               <ul>
                 <!-- SLIDE  -->
                 <li
                   data-index="rs-1"
                   data-transition="slotslide-horizontal"
                   data-slotamount="default"
                   data-hideafterloop="0"
                   data-hideslideonmobile="off"
                   data-easein="default"
                   data-easeout="default"
                   data-masterspeed="default"
                   data-thumb="/assets/images/homepage-slide/slide-2.jpg"
                   data-rotate="0"
                   data-saveperformance="off"
                   data-title="Slide"
                   data-param1=""
                   data-param2=""
                   data-param3=""
                   data-param4=""
                   data-param5=""
                   data-param6=""
                   data-param7=""
                   data-param8=""
                   data-param9=""
                   data-param10=""
                   data-description=""
                 >
                   <!-- MAIN IMAGE -->
                   <img
                     fetchpriority="high"
                     decoding="async"
                     src="/assets/images/homepage-slide/slide-2.jpg"
                     alt=""
                     title="ponpes kanzul ulum brebes-slide 2"
                     width="1366"
                     height="545"
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg"
                     data-no-retina
                   />
                   <!-- LAYERS -->
                 </li>
                 <!-- SLIDE  -->
                 <li
                   data-index="rs-2"
                   data-transition="slotslide-horizontal"
                   data-slotamount="default"
                   data-hideafterloop="0"
                   data-hideslideonmobile="off"
                   data-easein="default"
                   data-easeout="default"
                   data-masterspeed="default"
                   data-thumb="/assets/images/homepage-slide/slide-1.jpg"
                   data-rotate="0"
                   data-saveperformance="off"
                   data-title="Slide"
                   data-param1=""
                   data-param2=""
                   data-param3=""
                   data-param4=""
                   data-param5=""
                   data-param6=""
                   data-param7=""
                   data-param8=""
                   data-param9=""
                   data-param10=""
                   data-description=""
                 >
                   <!-- MAIN IMAGE -->
                   <img
                     decoding="async"
                     src="/assets/images/homepage-slide/slide-1.jpg"
                     alt=""
                     title="slide 1"
                     width="1366"
                     height="545"
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg"
                     data-no-retina
                   />
                   <!-- LAYERS -->
                 </li>
               </ul>
               <script>
                 var htmlDiv = document.getElementById(
                   "rs-plugin-settings-inline-css"
                 )
                 var htmlDivCss = ""
                 if (htmlDiv) {
                   htmlDiv.innerHTML =
                     htmlDiv.innerHTML + htmlDivCss
                 } else {
                   var htmlDiv =
                     document.createElement("div")
                   htmlDiv.innerHTML =
                     "<style>" + htmlDivCss + "</style>"
                   document
                     .getElementsByTagName("head")[0]
                     .appendChild(htmlDiv.childNodes[0])
                 }
               </script>
               <div
                 class="tp-bannertimer tp-bottom"
                 style="visibility: hidden !important;"
               >
               </div>
             </div>
             <script>
               var htmlDiv = document.getElementById(
                 "rs-plugin-settings-inline-css"
               )
               var htmlDivCss = ""
               if (htmlDiv) {
                 htmlDiv.innerHTML =
                   htmlDiv.innerHTML + htmlDivCss
               } else {
                 var htmlDiv = document.createElement("div")
                 htmlDiv.innerHTML =
                   "<style>" + htmlDivCss + "</style>"
                 document
                   .getElementsByTagName("head")[0]
                   .appendChild(htmlDiv.childNodes[0])
               }
             </script>
             <script type="text/javascript">
               if (setREVStartSize !== undefined)
                 setREVStartSize({
                   c: "#rev_slider_1_1",
                   gridwidth: [1366],
                   gridheight: [545],
                   sliderLayout: "auto",
                 })

               var revapi1, tpj
               ;(function () {
                 if (
                   !/loaded|interactive|complete/.test(
                     document.readyState
                   )
                 )
                   document.addEventListener(
                     "DOMContentLoaded",
                     onLoad
                   )
                 else onLoad()
                 function onLoad() {
                   if (tpj === undefined) {
                     tpj = jQuery
                     if ("off" == "on") tpj.noConflict()
                   }
                   if (
                     tpj("#rev_slider_1_1").revolution ==
                     undefined
                   ) {
                     revslider_showDoubleJqueryError(
                       "#rev_slider_1_1"
                     )
                   } else {
                     revapi1 = tpj("#rev_slider_1_1")
                       .show()
                       .revolution({
                         sliderType: "standard",
                         jsFileLocation:
                           "/wp-content/plugins/revslider/public/assets/js/",
                         sliderLayout: "auto",
                         dottedOverlay: "none",
                         delay: 6000,
                         navigation: {
                           keyboardNavigation: "off",
                           keyboard_direction: "horizontal",
                           mouseScrollNavigation: "off",
                           mouseScrollReverse: "default",
                           onHoverStop: "off",
                           arrows: {
                             style: "gyges",
                             enable: true,
                             hide_onmobile: false,
                             hide_onleave: true,
                             hide_delay: 200,
                             hide_delay_mobile: 1200,
                             tmp: "",
                             left: {
                               h_align: "left",
                               v_align: "center",
                               h_offset: 20,
                               v_offset: 0,
                             },
                             right: {
                               h_align: "right",
                               v_align: "center",
                               h_offset: 20,
                               v_offset: 0,
                             },
                           },
                         },
                         visibilityLevels: [
                           1240, 1024, 778, 480,
                         ],
                         gridwidth: 1366,
                         gridheight: 545,
                         lazyType: "none",
                         shadow: 0,
                         spinner: "spinner0",
                         stopLoop: "off",
                         stopAfterLoops: -1,
                         stopAtSlide: -1,
                         shuffle: "off",
                         autoHeight: "off",
                         disableProgressBar: "on",
                         hideThumbsOnMobile: "off",
                         hideSliderAtLimit: 0,
                         hideCaptionAtLimit: 0,
                         hideAllCaptionAtLilmit: 0,
                         debugMode: false,
                         fallbacks: {
                           simplifyAll: "off",
                           nextSlideOnWindowFocus: "off",
                           disableFocusListener: false,
                         },
                       })
                   } /* END OF revapi call */
                 } /* END OF ON LOAD FUNCTION */
               })() /* END OF WRAPPING FUNCTION */
             </script>
           </div><!-- END REVOLUTION SLIDER -->
         </div>
       </div>
       <!-- /module widget -->
     </div>
   </div>
 </div>
 <!-- /row_inner -->
</div>
<!-- /module_row -->