---
---

<style>
  .tb_text_wrap{
    font-weight: bold;
  }
  .tf_box{
    /* margin-left: 1em;
    margin-right: 1em; */
  }
  .container-0{
    /* border:solid 1px red; */
    margin:1em;
    width: 60%;
    margin: 1em auto;
  }
  .container-1{
    display: flex;
  }
  .container-2{

  }
  .container-1 .box{
    width:30%;
    display: flex;
  align-items: center;
  justify-content: center;
  }
  .image-wrap {
   /* width: 50%;  */
   /*or whatever you choose*/
   margin: auto;
}
.image-wrap img {
   display: block;
   width: 100%;
   max-width: 500px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
}
  .container-1 .image-content{
    width: 70%;
    padding: 1em 0;
  }
  .image-caption{
    font-size: 1.5em;
    margin-bottom: .5em
  }
  .image-description{

  }
</style>
<!-- module_row -->
<div data-lazy="1"
  class="module_row themify_builder_row tb_0azu289 tf_clearfix hide-tablet hide-tablet_landscape hide-mobile" >
  <div class=" col_align_middle gutter-narrow tf_box tf_w tf_rel">
    <div data-lazy="1" class="container-0">
      <div class="tb-column-inner tf_box tf_w">
        <!-- module image -->
        <div class="container-1" data-lazy="1" >
          <div class="box">
          <div class="image-wrap">
            <img decoding="async" src="/assets/images/lembaga/lb-tpq-sm.png"  alt="Taman Pendidikan Qur’an Kanzul Ulum" />
          </div>
        </div>
          <!-- /image-wrap -->

          <div class="image-content">
            <div class="image-caption tb_text_wrap">
              Taman Pendidikan Qur’an Kanzul Ulum 
            </div>
            <!-- /image-caption -->
          <div class="image-description">
            <p>Taman Pendidikan Al-Qur'an  merupakan lembaga pendidikan nonformal jenis keagamaan Islam yang bertujuan untuk memberikan pengajaran membaca Al-Qur'an sejak usia dini, serta memahami dasar-dasar dinul Islam pada anak usia taman kanak-kanak. TPA/TPQ setara dengan Raudhatul Athfal RA dan taman kanak-kanak (TK), di mana kurikulumnya ditekankan pada pemberian dasar-dasar membaca Al-Qur'an serta membantu pertumbuhan dan perkembangan rohani anak agar memiliki kesiapan dalam memasuki pendidikan lebih lanjut.</p>
          </div>
        </div>
          <!-- /image-content -->
        </div>
        <!-- /module image -->
      </div>
    </div>
    <div data-lazy="1" class="container-0">
      <div class="tb-column-inner tf_box tf_w">
        <!-- module image -->
        <div class="container-1" data-lazy="1" >
         

          <div class="image-content">
            <div class="image-caption tb_text_wrap">
              Madrasah Diniyah Ta’miliyah Awaliyah Kanzul Ulum
            </div>
            <!-- /image-caption -->
          <div class="image-description">
            Madrasah Diniyah Takmiliyah Awaliyah (MDTA) adalah satuan pendidikan keagamaan Islam bersifat non formal yang menyelenggarakan pendidikan tingkat dasar (SD/MI) dengan pendidikan agama Islam yang meliputi AlQur’an, Hadits, Tajwid, Aqidah, Akhlaq, Fiqih, Sejarah dan Kebudayaan Islam, Bahasa Arab dan Praktek Ibadah untuk memenuhi kebutuhan masyarakat akan tambahan pendidikan agama Islam terutama bagi siswa yang belajar di sekolah dasar (SD) atau pendidikan sederajat.
          </div>
        </div>
          <!-- /image-content -->
          <div class="box">

          <div class="image-wrap">
            <img decoding="async" src="/assets/images/lembaga/lb-dta-sm.png" width="191" height="190" alt="Madrasah Diniyah Ta’miliyah Awaliyah Kanzul Ulum" />
          </div>
        </div>
          <!-- /image-wrap -->
        </div>
        <!-- /module image -->
      </div>
    </div>
    <div data-lazy="1" class="container-0">
      <div class="tb-column-inner tf_box tf_w">
        <!-- module image -->
        <div class="container-1" data-lazy="1">
          <div class="box">

          <div class="image-wrap">
            <img decoding="async" src="/assets/images/lembaga/lb-mta-sm.png"  alt="Majllis Ta’lim Kanzul Ulum" />
          </div>
        </div>
          <!-- /image-wrap -->

          <div class="image-content">
            <div class="image-caption tb_text_wrap">
              Majllis Ta’lim Kanzul Ulum 
            </div>
            <!-- /image-caption -->
          <div class="image-desscription">
            <p>Majelis taklim adalah salah satu lembaga pendidikan keagamaan nonformal yang bertujuan meningkatkan keimanan dan ketakwaan kepada Allah SWT. Proses pembelajaran di dalamnya mengarah kepada pembentukan akhlak mulia bagi jamaahnya, serta mewujudkan rahmat bagi alam semesta, merupakan tempat pangajaran atau pendidikan agama Islam yang paling fleksibel dan tidak terikat oleh waktu. Sifatnya terbuka. Usia berapa pun, profesi apa pun, suku apa pun, dapat bergabung di dalamnya. Waktu penyelenggaraannya pun tidak terikat, bisa pagi, siang, sore, atau malam. Lokasi taklim pun bisa dilakukan di dalam maupun di luar ruangan.</p>
          </div>
        </div>
          <!-- /image-content -->
        </div>
        <!-- /module image -->
      </div>
    </div>
  </div>
  <!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div data-lazy="1" class="module_row themify_builder_row tb_8jgp943 tf_clearfix hide-desktop">
  <div class="row_inner col_align_top tf_box tf_w tf_rel">
    <div data-lazy="1" class="module_column tb-column col-full first tb_q1e8944 tf_box">
      <div class="tb-column-inner tf_box tf_w">
        <!-- module plain text -->
        <div class="module module-plain-text tb_q6zv945" data-lazy="1">
          <div class="tb_text_wrap">
            <h5 style="font-size: 17px">
              <b>Lembaga Pendidikan</b>
            </h5>
          </div>
        </div>
        <!-- /module plain text -->
        <div data-lazy="1" class="module_subrow themify_builder_sub_row tb_w5l8945 tf_w tf_clearfix">
          <div class="subrow_inner col_align_top tf_box tf_w" data-basecol="3" data-col_tablet="column3-1"
            data-col_tablet_landscape="column3-1" data-col_mobile="column3-1">
            <div data-lazy="1" class="sub_column module_column tf_box col3-1 first tb_2zat946">
              <div class="tb-column-inner tf_box tf_w">
                <!-- module image -->
                <div class="module module-image tb_k7f9946 image-center tf_mw" data-lazy="1">
                  <div class="image-wrap tf_rel tf_mw">
                    <img decoding="async" src="/assets/images/lembaga/lb-tpq.png" width="191" height="190" title="Taman Pendidikan Qur’an Kanzul Ulum"
                      alt="Taman Pendidikan Qur’an Kanzul Ulum" />
                  </div>
                  <!-- /image-wrap -->
                </div>
                <!-- /module image -->
              </div>
            </div>
            <div data-lazy="1" class="sub_column module_column tf_box col3-1 first tb_2zat946">
              <div class="tb-column-inner tf_box tf_w">
                <!-- module image -->
                <div class="module module-image tb_k7f9946 image-center tf_mw" data-lazy="1">
                  <div class="image-wrap tf_rel tf_mw">
                    <img decoding="async" src="/assets/images/lembaga/lb-dta.png" width="191" height="190" title="Madrasah Diniyah Ta’miliyah Awaliyah Kanzul Ulum"
                      alt="Madrasah Diniyah Ta’miliyah Awaliyah Kanzul Ulum" />
                  </div>
                  <!-- /image-wrap -->
                </div>
                <!-- /module image -->
              </div>
            </div>
            <div data-lazy="1" class="sub_column module_column tf_box col3-1 first tb_2zat946">
              <div class="tb-column-inner tf_box tf_w">
                <!-- module image -->
                <div class="module module-image tb_k7f9946 image-center tf_mw" data-lazy="1">
                  <div class="image-wrap tf_rel tf_mw">
                    <img decoding="async" src="/assets/images/lembaga/lb-mta.png" width="191" height="190" title="Majllis Ta’lim Kanzul Ulum "
                      alt="Majllis Ta’lim Kanzul Ulum " />
                  </div>
                  <!-- /image-wrap -->
                </div>
                <!-- /module image -->
              </div>
            </div>
          </div>
        </div><!-- /themify_builder_sub_row -->
        
      </div>
    </div>
  </div>
  <!-- /row_inner -->
</div>
<!-- /module_row -->