---
const { breadcrumbs } = Astro.props;
---
<!-- module_row -->
<div data-css_id="pb2u876" data-lazy="1" class="module_row themify_builder_row repeat fullwidth tb_pb2u876 tf_clearfix">
    <div class="row_inner col_align_top gutter-none tf_box tf_w tf_rel" data-basecol="3"
      data-col_tablet="column4-1-4-2-4-1" data-col_tablet_landscape="column4-1-4-2-4-1"
      data-col_mobile="column4-1-4-2-4-1">
      <div data-lazy="1" class="module_column tb-column col4-1 first tb_nsrj877 tf_box">
      </div>
      <div data-lazy="1" class="module_column tb-column col4-2 middle tb_0jrp877 repeat tf_box">
        <div class="tb-column-inner tf_box tf_w">
          <!-- module plain text -->
          <div class="module module-plain-text tb_8ekf877 hide-tablet hide-tablet_landscape hide-mobile" data-lazy="1">
            <div class="tb_text_wrap">
                </h6>
                {breadcrumbs.map((item,index)=>{
                    return <span key={index}>
                        {index == 0 ? <b>{item.title}</b>: item.title}
                        { index < breadcrumbs.length-1 ? ' ► ':null}
                    </span> 
                })}
              </h6>
            </div>
          </div>
          <!-- /module plain text --><!-- module plain text -->
          <div class="module module-plain-text tb_u8uu878 hide-desktop" data-lazy="1">
            <div class="tb_text_wrap">
              <h6 style="font-size: 11px">
              {breadcrumbs[breadcrumbs.length-1].title}
              </h6>
            </div>
          </div>
          <!-- /module plain text -->
        </div>
      </div>
      <div data-lazy="1" class="module_column tb-column col4-1 last tb_p5g1879 tf_box">
      </div>
    </div>
    <!-- /row_inner -->
  </div>
  <!-- /module_row -->