<div class="header-icons tf_hide">
    <a
      id="menu-icon"
      class="tf_inline_b tf_text_dec"
      href="#mobile-menu"
      aria-label="Menu"
      ><span class="menu-icon-inner tf_inline_b tf_vmiddle tf_overflow"
      ></span><span class="screen-reader-text">Menu</span></a
    >
  </div>