<a class="search-button tf_vmiddle tf_inline_b" href="#">
  <svg aria-label="Search" role="img" class="tf_fa tf-fas-search"><use href="#tf-fas-search"></use></svg>
  <span class="screen-reader-text">Search</span>
</a>