<!-- module_row -->
<div data-css_id="labl279" data-lazy="1" class="module_row themify_builder_row fullwidth tb_labl279 tf_clearfix">
    <div class="row_inner col_align_top tf_box tf_w tf_rel">
      <div data-lazy="1" class="module_column tb-column col-full first tb_r1kz280 tf_box">
        <div class="tb-column-inner tf_box tf_w">
          <!-- module image -->
          <div class="module module-image tb_1arj280 image-center tf_mw hide-tablet hide-tablet_landscape hide-mobile"
            data-lazy="1">
            <div class="image-wrap tf_rel tf_mw">
              <img decoding="async" src="/assets/images/sub1.png" width="1366" height="220" title="Home" alt="Home" />
            </div>
            <!-- /image-wrap -->
          </div>
          <!-- /module image --><!-- module image -->
          <div class="module module-image tb_43y4281 image-center tf_mw hide-desktop" data-lazy="1">
            <div class="image-wrap tf_rel tf_mw">
              <img decoding="async" src="/assets/images/sub2.png" width="720" height="220" title="Home" alt="Home" />
            </div>
            <!-- /image-wrap -->
          </div>
          <!-- /module image -->
        </div>
      </div>
    </div>
    <!-- /row_inner -->
  </div>
  <!-- /module_row -->