<!-- module_row -->
<div
data-lazy="1"
class="module_row themify_builder_row tb_y2sv138 tf_clearfix hide-tablet hide-tablet_landscape hide-mobile"
>
<div class="row_inner col_align_top tf_box tf_w tf_rel">
  <div
    data-lazy="1"
    class="module_column tb-column col4-2 first tb_n66z139 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module image -->
      <div
        class="module module-image tb_44hk140 image-center tf_mw"
        data-lazy="1"
      >
        <div class="image-wrap tf_rel tf_mw">
          <img
            decoding="async"
            src="/assets/images/profil.png"
            width="600"
            height="383"
            title="Home"
            alt="Home"
          />
        </div>
        <!-- /image-wrap -->
      </div>
      <!-- /module image -->
    </div>
  </div>
  <div
    data-lazy="1"
    class="module_column tb-column col4-2 last tb_pe08141 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module plain text -->
      <div
        class="module module-plain-text tb_2m0u141"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h6><b>Pondok Pesantren</b></h6>
        </div>
      </div>
      <!-- /module plain text --><!-- module plain text -->
      <div
        class="module module-plain-text tb_e956142"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h2><b>Kanzul Ulum</b></h2>
        </div>
      </div>
      <!-- /module plain text --><!-- module text -->
      <div
        class="module module-text tb_ohc9143 tb_text_dropcap"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <p>
            Syaikh Sholeh Muhammad Basalamah, beliau
            mendirikan yayasan Pendidikan Islam Darussalam
            pada tahun 1988. Berselang kurang lebih 11
            tahun, madrasah ini menjadi pondok pesantren
            yang cukup besar, diberi nama Pondok Pesantren
            Darussalam. Pada tahun 1999 beliau menerima
            santri yang ingin tinggal di Pondok Pesantren
            Darussalam, yang sebelumnya mereka tinggal di
            rumah masing-masing. Tetapi sekarang ponpes
            Darussalam terus berkembang, baik secara
            kualitas maupun kuantitas.
          </p>
          <p>
            Ponpes Darussalam mendidik para santri dengan
            menerapkan tarbiyyatussalaf dan dikolaborasi
            dengan kurikulum yang diadopsi dari pembelajaran
            khas Timur Tengah. Ponpes Darussalam tidak
            menyertakan pendidikan formal, seperti SD bahkan
            sampai Perguruan Tinggi, namun ijazah yang
            dikeluarkan bisa digunakan untuk mendaftar ke
            tingkat pendidikan yang lebih tinggi, baik di
            Indonesia atau di Timur Tengah. Jenjang
            pendidikan yang ada di pondok ini dimulai dari
            i&#8217;dadi, ibtida, tsanawiy, kemudian aliyah.
          </p>
        </div>
      </div>
      <!-- /module text -->
    </div>
  </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div
data-lazy="1"
class="module_row themify_builder_row tb_1voz655 tf_clearfix hide-desktop"
>
<div
  class="row_inner col_align_top tf_box tf_w tf_rel"
  data-basecol="2"
  data-col_tablet="column4-2"
  data-col_tablet_landscape="column4-2"
  data-col_mobile="column4-2"
>
  <div
    data-lazy="1"
    class="module_column tb-column col4-2 first tb_eut5656 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module image -->
      <div
        class="module module-image tb_9mpk656 image-center tf_mw"
        data-lazy="1"
      >
        <div class="image-wrap tf_rel tf_mw">
          <img
            decoding="async"
            src="/galeri/2021/11/ponpes-kanzul ulum-brebes-profil.jpg"
            width="600"
            height="383"
            title="Home"
            alt="Home"
          />
        </div>
        <!-- /image-wrap -->
      </div>
      <!-- /module image -->
    </div>
  </div>
  <div
    data-lazy="1"
    class="module_column tb-column col4-2 last tb_rtc1656 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module plain text -->
      <div
        class="module module-plain-text tb_abbp657"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h6><b>Pondok Pesantren</b></h6>
        </div>
      </div>
      <!-- /module plain text --><!-- module plain text -->
      <div
        class="module module-plain-text tb_huwl657"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h4><b>Kanzul Ulum</b></h4>
        </div>
      </div>
      <!-- /module plain text --><!-- module text -->
      <div
        class="module module-text tb_ptm1658 tb_text_dropcap"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <p>Syaikh Sholeh Muhammad Basalamah,</p>
        </div>
      </div>
      <!-- /module text -->
    </div>
  </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div
data-lazy="1"
class="module_row themify_builder_row tb_7soo678 tf_clearfix hide-desktop"
>
<div class="row_inner col_align_top tf_box tf_w tf_rel">
  <div
    data-lazy="1"
    class="module_column tb-column col-full first tb_xzgv678 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module text -->
      <div
        class="module module-text tb_t81s43"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <p>
            beliau mendirikan yayasan Pendidikan Islam
            Darussalam pada tahun 1988. Berselang kurang
            lebih 11 tahun, madrasah ini menjadi pondok
            pesantren yang cukup besar, diberi nama Pondok
            Pesantren Darussalam. Pada tahun 1999 beliau
            menerima santri yang ingin tinggal di Pondok
            Pesantren Darussalam, yang sebelumnya mereka
            tinggal di rumah masing-masing. <a
              href="profil-ponpes-kanzul ulum-jatibarang-brebes/index.html"
              >Selengkapnya</a
            >
          </p>
        </div>
      </div>
      <!-- /module text -->
    </div>
  </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->