---
const shortProfile=[
`Tosuerdi adalah seorang pendidik, dosen, dan penulis yang lahir pada 21 Maret 1979 di Brebes, Jawa Tengah. Ia telah mengajar di berbagai sekolah dan perguruan tinggi sejak tahun 2000. Tosuerdi juga merupakan pendiri Yayasan "Kanzul Ulum Jaya" yang berfokus pada pendidikan Islam. Selain itu, ia memiliki latar belakang pendidikan yang meliputi pendidikan dasar, menengah, dan tinggi, serta telah menulis beberapa karya ilmiah dan menjadi penerjemah buku.`,

`Tosuerdi memiliki tujuan untuk terus belajar, berkhidmat dalam ilmu, dan menjadi orang yang bermanfaat bagi keluarga dan masyarakat. Ia telah mengajar di berbagai sekolah, termasuk SMA dan madrasah, serta menjadi dosen di beberapa perguruan tinggi. Tosuerdi juga pernah menjabat sebagai Dekan Fakultas Agama Islam dan telah menulis beberapa buku serta menerjemahkan buku-buku lainnya. Selain itu, ia aktif dalam kegiatan Yayasan "Kanzul Ulum Jaya" yang berfokus pada pendidikan Islam.`
]
 
---
<!-- module_row -->
<div
data-lazy="1"
class="module_row themify_builder_row tb_y2sv138 tf_clearfix hide-tablet hide-tablet_landscape hide-mobile"
>
<div class="row_inner col_align_top tf_box tf_w tf_rel">
  <div
    data-lazy="1"
    class="module_column tb-column col4-2 first tb_n66z139 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module image -->
      <div
        class="module module-image tb_44hk140 image-center tf_mw"
        data-lazy="1"
      >
        <div class="image-wrap tf_rel tf_mw">
          <img
            decoding="async"
            src="/assets/images/profil.png"
            width="600"
            height="383"
            title="Home"
            alt="Home"
          />
        </div>
        <!-- /image-wrap -->
      </div>
      <!-- /module image -->
    </div>
  </div>
  <div
    data-lazy="1"
    class="module_column tb-column col4-2 last tb_pe08141 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module plain text -->
      <div
        class="module module-plain-text tb_2m0u141"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h6><b>Pondok Pesantren</b></h6>
        </div>
      </div>
      <!-- /module plain text --><!-- module plain text -->
      <div
        class="module module-plain-text tb_e956142"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h2><b>Kanzul Ulum</b></h2>
        </div>
      </div>
      <!-- /module plain text --><!-- module text -->
      <div
        class="module module-text tb_ohc9143 tb_text_dropcap"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          {shortProfile.map((text, index) => (
            <p key={index}>{text}</p>
          ))}
        </div>
      </div>
      <!-- /module text -->
    </div>
  </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div
data-lazy="1"
class="module_row themify_builder_row tb_1voz655 tf_clearfix hide-desktop"
>
<div
  class="row_inner col_align_top tf_box tf_w tf_rel"
  data-basecol="2"
  data-col_tablet="column4-2"
  data-col_tablet_landscape="column4-2"
  data-col_mobile="column4-2"
>
  <div
    data-lazy="1"
    class="module_column tb-column col4-2 first tb_eut5656 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module image -->
      <div
        class="module module-image tb_9mpk656 image-center tf_mw"
        data-lazy="1"
      >
        <div class="image-wrap tf_rel tf_mw">
          <img
            decoding="async"
            src="/assets/images/profil.png"
            width="600"
            height="383"
            title="Home"
            alt="Home"
          />
        </div>
        <!-- /image-wrap -->
      </div>
      <!-- /module image -->
    </div>
  </div>
  <div
    data-lazy="1"
    class="module_column tb-column col4-2 last tb_rtc1656 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module plain text -->
      <div
        class="module module-plain-text tb_abbp657"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h6><b>Pondok Pesantren</b></h6>
        </div>
      </div>
      <!-- /module plain text --><!-- module plain text -->
      <div
        class="module module-plain-text tb_huwl657"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h4><b>Kanzul Ulum</b></h4>
        </div>
      </div>
      <!-- /module plain text --><!-- module text -->
      <div
        class="module module-text tb_ptm1658 "
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <p>Tosuerdi ,</p>
        </div>
      </div>
      <!-- /module text -->
    </div>
  </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div
data-lazy="1"
class="module_row themify_builder_row tb_7soo678 tf_clearfix hide-desktop"
>
<div class="row_inner col_align_top tf_box tf_w tf_rel">
  <div
    data-lazy="1"
    class="module_column tb-column col-full first tb_xzgv678 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module text -->
      <div
        class="module module-text tb_t81s43"
        data-lazy="1"
      >
        <div class="tb_text_wrap" style={{marginTop:"20px"}}>
          <p>
            {shortProfile[0]} <a
              href="/profil"
              >Selengkapnya</a
            >
          </p>
        </div>
      </div>
      <!-- /module text -->
    </div>
  </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->