
<!-- module_row -->
<div data-lazy="1" class="module_row themify_builder_row tb_d5ne194 tf_clearfix">
    <div class="row_inner col_align_top tf_box tf_w tf_rel">
        <div data-lazy="1"
            class="module_column tb-column col4-2 first tb_4sca194 tf_box">
            <div class="tb-column-inner tf_box tf_w">
                <!-- module tab -->
                <div id="tb_vhbd170"
                    class="module ui module-tab tb_vhbd170 tab-frame tab-style-default rounded embossed shadow tb_default_color "
                    data-lazy="1">
                    <div class="builder-tabs-wrap tf_rel">
                        <div class="tab-nav-current-active tf_hide">
                            <span class="tab_burger_icon tf_hide tf_rel"></span>
                            <span class="tb_tab_title">VISI</span>
                        </div>
                        <ul class="tab-nav tf_clearfix">
                            <li class="current" aria-expanded="true">
                                <a href="#tab-tb_vhbd170-0">
                                    <span>VISI</span>
                                </a>
                            </li>
                        </ul>

                        <div data-id="tab-tb_vhbd170-0" class="tab-content"
                            aria-hidden="false">
                            <div class="tb_text_wrap">
                                <p style="text-align: justify;">&#8220;Mencetak generasi generasi muslim yang bertafaqquh fiddien dan memiliki semangat keberagamaan yang tinggi, berakhlak mulia, terampil dalam kehidupan serta memiliki jiwa ENTERPRENEUR&#8221;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /module tab -->
            </div>
        </div>
        <div data-lazy="1"
            class="module_column tb-column col4-2 last tb_g0od331 tf_box">
            <div class="tb-column-inner tf_box tf_w">
                <!-- module tab -->
                <div id="tb_grpf332"
                    class="module ui module-tab tb_grpf332 tab-frame tab-style-default rounded embossed shadow tb_default_color "
                    data-lazy="1">
                    <div class="builder-tabs-wrap tf_rel">
                        <div class="tab-nav-current-active tf_hide">
                            <span class="tab_burger_icon tf_hide tf_rel"></span>
                            <span class="tb_tab_title">MISI</span>
                        </div>
                        <ul class="tab-nav tf_clearfix">
                            <li class="current" aria-expanded="true">
                                <a href="#tab-tb_grpf332-0">
                                    <span>MISI</span>
                                </a>
                            </li>
                        </ul>

                        <div data-id="tab-tb_grpf332-0" class="tab-content"
                            aria-hidden="false">
                            <div class="tb_text_wrap">
                                <ul>
                                    <li style="text-align: justify;">Melaksankan kajian keagamaan secara terstruktur.</li>
                                    <li style="text-align: justify;">Memantapkan iman
                                        dan takwa serta mengambangkan ilmu pengetahuan
                                        agama untuk mencapai kebahagiaan hidup di dunia
                                        akhirat.</li>
                                    <li style="text-align: justify;">Membentuk Generasi Berkarakter Unggul dalam Kesempurnaan Akhlak.</li>
                                    <li style="text-align: justify;">Menyelenggarakan dasar ilmu kemasyarakatan.</li>
                                    <li style="text-align: justify;">Melaksanakan pelatihan kecakapan hidup.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /module tab -->
            </div>
        </div>
    </div>
    <!-- /row_inner -->
</div>
<!-- /module_row -->