<!-- module_row -->
<div
data-lazy="1"
class="module_row themify_builder_row repeat tb_s3l0414 tf_clearfix hide-tablet hide-tablet_landscape hide-mobile"
>
<div class="row_inner col_align_top tf_box tf_w tf_rel">
  <div
    data-lazy="1"
    class="module_column tb-column col-full first tb_ej84416 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module plain text -->
      <div
        class="module module-plain-text tb_bi1v417"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h4><b>Selamat Datang</b></h4>
        </div>
      </div>
      <!-- /module plain text --><!-- module plain text -->
      <div
        class="module module-plain-text tb_a7pf592"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <p>
            Di laman website resmi Pondok Pesantren
            Kanzul Ulum Jatibarang, Cirebon, Jawa Barat. Kami
            merupakan Lembaga Pendidikan Salaf yang mendidik
            para santri dan fokus pada pembekalan Aqidah,
            Syari&#8217;ah dan Akhlaq ala Ahlussunnah wal
            Jama&#8217;ah.
          </p>
        </div>
      </div>
      <!-- /module plain text -->
    </div>
  </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->
<!-- module_row -->
<div
data-lazy="1"
class="module_row themify_builder_row repeat tb_cqc5947 tf_clearfix hide-desktop"
>
<div class="row_inner col_align_top tf_box tf_w tf_rel">
  <div
    data-lazy="1"
    class="module_column tb-column col-full first tb_4vlf948 tf_box"
  >
    <div class="tb-column-inner tf_box tf_w">
      <!-- module plain text -->
      <div
        class="module module-plain-text tb_3988948"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <h5><b>Selamat Datang</b></h5>
        </div>
      </div>
      <!-- /module plain text --><!-- module plain text -->
      <div
        class="module module-plain-text tb_gvuw948"
        data-lazy="1"
      >
        <div class="tb_text_wrap">
          <p>
            Di laman website resmi Pondok Pesantren
            Kanzul Ulum, Cirebon, Jawa Barat. Kami
            merupakan Lembaga Pendidikan Salaf yang mendidik
            para santri dan fokus pada pembekalan Aqidah,
            Syari&#8217;ah dan Akhlaq ala Ahlussunnah wal
            Jama&#8217;ah.
          </p>
        </div>
      </div>
      <!-- /module plain text -->
    </div>
  </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->