---
import WelcomeMessageBanner from "../blocks/welcome-message-banner.astro";
import HomepageImageCarouselSlide from "../blocks/homepage-image-caraousel-slide.astro";
import ShortCompanyProfile from "../blocks/short-company-profile.astro";
import LembagaList from "../blocks/lembaga-list.astro";
import HomepageGaleryList from "../blocks/homepage-galery-list.astro";
import MainNewsCard from "../blocks/main-news-card.astro";

const { berita, galery } = Astro.props;
---

<div id="body" class="tf_box tf_clear tf_mw tf_clearfix">
    <!-- layout-container -->
    <div id="layout" class="pagewidth tf_box tf_clearfix">
      <!-- content -->
      <main id="content" class="tf_box tf_clearfix">
        <div id="page-71" class="type-page">
          <div class="page-content entry-content">
            <!--themify_builder_content-->
            <div
              id="themify_builder_content-71"
              data-postid="71"
              class="themify_builder_content themify_builder_content-71 themify_builder tf_clear"
            >
             <HomepageImageCarouselSlide/>
              <WelcomeMessageBanner/>
              <ShortCompanyProfile/>
              
             <LembagaList/>
             <HomepageGaleryList galery={galery}/>
             <MainNewsCard berita={berita}/>
            </div>
            <!--/themify_builder_content-->
            <!-- /comments -->
          </div>
          <!-- /.post-content -->
        </div>
        <!-- /.type-page -->
      </main>
      <!-- /content -->
    </div>
    <!-- /layout-container -->
  </div><!-- /body -->