---
import MainCompanyBanner from "../blocks/main-company-banner.astro";
import MainBreadcrumb from "../blocks/main-breadcrumb.astro";
// import LembagaListAdvance from "../blocks/lembaga-list-advance.astro";
const breadcrumbs = [
	{ title: "Home", path: "/" },
	{ title: "Kegiatan", path: "/kegiatan" },
];
---
<div id="body" class="tf_box tf_clear tf_mw tf_clearfix">
    <!-- layout-container -->
    <div id="layout" class="pagewidth tf_box tf_clearfix">
        <!-- content -->
        <main id="content" class="tf_box tf_clearfix">
            <div id="page-71" class="type-page">
                <div class="page-content entry-content">
                    <!--themify_builder_content-->
                    <div id="themify_builder_content-71" data-postid="71"
                        class="themify_builder_content themify_builder_content-71 themify_builder tf_clear">
                        <MainCompanyBanner/>
                        <MainBreadcrumb breadcrumbs={breadcrumbs}/>
                        <!-- module_row -->
                        <div data-lazy="1" class="module_row themify_builder_row repeat tb_u9r7118 tf_clearfix">
                            <div class="row_inner col_align_top tf_box tf_w tf_rel">
                                <div data-lazy="1" class="module_column tb-column col-full first tb_26t7124 tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module plain text -->
                                        <div class="module module-plain-text tb_n0on125 " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <h5><a
                                                        href="/assets/downloads/kegiatan.pdf"><b>Lihat
                                                            Aturan &#038; Tata Tertib</b></a></h5>
                                            </div>
                                        </div>
                                        <!-- /module plain text -->
                                    </div>
                                </div>
                            </div>
                            <!-- /row_inner -->
                        </div>
                        <!-- /module_row -->
                        <!-- module_row -->
                        <div data-lazy="1" class="module_row themify_builder_row tb_yjkh118 tf_clearfix">
                            <div class="row_inner col_align_top tf_box tf_w tf_rel">
                                <div data-lazy="1" class="module_column tb-column col-full first tb_w4wd125 tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module text -->
                                        <div class="module module-text tb_jzdm891   " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <table width="1141">
                                                    <tbody>
                                                        <tr style="background-color:#00A651; color: #fff">
                                                            <td width="64">NO.</td>
                                                            <td width="115">WAKTU</td>
                                                            <td width="962">KEGIATAN</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1.</td>
                                                            <td>3:30</td>
                                                            <td>Bangun tidur</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2.</td>
                                                            <td>4:00</td>
                                                            <td>Shlat tahajjud, Adzan shubuh, Pembacaan
                                                                do&#8217;a fajar, Jama&#8217;ah shubuh,
                                                                Pembacaan Ratibul attas dan kuliah subuh (di
                                                                Aula)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3.</td>
                                                            <td>8:00</td>
                                                            <td>Sholat dhuha, Pembacaandzikir (di Aula)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4.</td>
                                                            <td>8:15</td>
                                                            <td>Masuk Kelas</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5.</td>
                                                            <td>12:30</td>
                                                            <td>Persiapan sholat dzuhur, pembacaan Al-qur’an,
                                                                Sholat qobliyah, Dzuhur, Ba’diyyah</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6.</td>
                                                            <td>13:00 &#8211; 15:00</td>
                                                            <td>Makan siang dan istirahat</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7.</td>
                                                            <td>15:00</td>
                                                            <td>Persiapan sholah ashar</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8.</td>
                                                            <td>16:00 &#8211; 17:00</td>
                                                            <td>Tasmi Mahfudzot: Juz amma, Aqidatul awam, Hadits
                                                                (Arbain dll), lughotul Arobiyyah, Jurmiyah,
                                                                Amrithi, Zubad, Alfiyah,dll</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9.</td>
                                                            <td>17:30</td>
                                                            <td>Pembacaan wirid lathif, Jama’ah maghrib,
                                                                pembacaan Ratib Haddad dan Halaqoh</td>
                                                        </tr>
                                                        <tr>
                                                            <td>10.</td>
                                                            <td>20:30</td>
                                                            <td>Syawir, Sorogan, Pelajaran idhofy, Senin;
                                                                pembacaan Maulid, Rabu; Tauiyyah, Kamis;
                                                                Khitobah, Malam Ahad Pahing; pembacaan Burdah
                                                                dan Taushiyyah</td>
                                                        </tr>
                                                        <tr>
                                                            <td>11.</td>
                                                            <td>22:00</td>
                                                            <td>Tidur</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /module text --><!-- module plain text -->
                                        <div class="module module-plain-text tb_a0ca357 " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <h5><b>Catatan!</b></h5>
                                            </div>
                                        </div>
                                        <!-- /module plain text --><!-- module plain text -->
                                        <div class="module module-plain-text tb_wmsw59 " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <p>Jadwal Pengabsenan :</p>
                                            </div>
                                        </div>
                                        <!-- /module plain text -->
                                        <div data-lazy="1"
                                            class="module_subrow themify_builder_sub_row tb_i7ag907 tf_w tf_clearfix">
                                            <div class="subrow_inner gutter-narrow col_align_top tf_box tf_w">
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col5-1 first tb_9mda908">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module icon -->
                                                        <div class="module module-icon tb_sne6847  normal circle icon_horizontal "
                                                            data-lazy="1">
                                                            <div class="module-icon-item tf_inline_b">
                                                                <em
                                                                    class="ui tf_vmiddle tf_textc tf_box tb_default_color"><svg
                                                                        aria-hidden="true" class="tf_fa tf-ti-timer">
                                                                        <use href="#tf-ti-timer"></use>
                                                                    </svg></em>
                                                                <span class="tf_vmiddle"><b>Pukul
                                                                        04:15</b><br />(oleh ketua kamar)</span>
                                                            </div>
                                                        </div>
                                                        <!-- /module icon -->
                                                    </div>
                                                </div>
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col5-1 second tb_kxld525">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module icon -->
                                                        <div class="module module-icon tb_z8kc526  normal circle icon_horizontal "
                                                            data-lazy="1">
                                                            <div class="module-icon-item tf_inline_b">
                                                                <em
                                                                    class="ui tf_vmiddle tf_textc tf_box tb_default_color"><svg
                                                                        aria-hidden="true" class="tf_fa tf-ti-timer">
                                                                        <use href="#tf-ti-timer"></use>
                                                                    </svg></em>
                                                                <span class="tf_vmiddle"><b>Pukul
                                                                        08:00</b><br />(oleh ketua kamar)</span>
                                                            </div>
                                                        </div>
                                                        <!-- /module icon -->
                                                    </div>
                                                </div>
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col5-1 third tb_xw764">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module icon -->
                                                        <div class="module module-icon tb_rrvo5  normal circle icon_horizontal "
                                                            data-lazy="1">
                                                            <div class="module-icon-item tf_inline_b">
                                                                <em
                                                                    class="ui tf_vmiddle tf_textc tf_box tb_default_color"><svg
                                                                        aria-hidden="true" class="tf_fa tf-ti-timer">
                                                                        <use href="#tf-ti-timer"></use>
                                                                    </svg></em>
                                                                <span class="tf_vmiddle"><b>Pukul
                                                                        08:30</b><br />(oleh ketua kamar)</span>
                                                            </div>
                                                        </div>
                                                        <!-- /module icon -->
                                                    </div>
                                                </div>
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col5-1 fourth tb_ckjq58">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module icon -->
                                                        <div class="module module-icon tb_i23k58  normal circle icon_horizontal "
                                                            data-lazy="1">
                                                            <div class="module-icon-item tf_inline_b">
                                                                <em
                                                                    class="ui tf_vmiddle tf_textc tf_box tb_default_color"><svg
                                                                        aria-hidden="true" class="tf_fa tf-ti-timer">
                                                                        <use href="#tf-ti-timer"></use>
                                                                    </svg></em>
                                                                <span class="tf_vmiddle"><b>Pukul
                                                                        16:00</b><br />(oleh ketua kamar)</span>
                                                            </div>
                                                        </div>
                                                        <!-- /module icon -->
                                                    </div>
                                                </div>
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col5-1 last tb_z0wu924">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module icon -->
                                                        <div class="module module-icon tb_343l925  normal circle icon_horizontal "
                                                            data-lazy="1">
                                                            <div class="module-icon-item tf_inline_b">
                                                                <em
                                                                    class="ui tf_vmiddle tf_textc tf_box tb_default_color"><svg
                                                                        aria-hidden="true" class="tf_fa tf-ti-timer">
                                                                        <use href="#tf-ti-timer"></use>
                                                                    </svg></em>
                                                                <span class="tf_vmiddle"><b>Pukul
                                                                        22:00</b><br />(oleh ketua kamar)</span>
                                                            </div>
                                                        </div>
                                                        <!-- /module icon -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /themify_builder_sub_row -->
                                    </div>
                                </div>
                            </div>
                            <!-- /row_inner -->
                        </div>
                        <!-- /module_row -->
                    </div>
                    <!--/themify_builder_content-->
                    <!-- /comments -->
                </div>
                <!-- /.post-content -->
            </div>
            <!-- /.type-page -->
        </main>
        <!-- /content -->
    </div>
    <!-- /layout-container -->
</div><!-- /body -->