---
import MainCompanyBanner from "../blocks/main-company-banner.astro";
import MainBreadcrumb from "../blocks/main-breadcrumb.astro";
// import LembagaListAdvance from "../blocks/lembaga-list-advance.astro";
const breadcrumbs = [
	{ title: "Home", path: "/" },
	{ title: "Pendaftaran", path: "/pendaftaran" },
];

const { company } = Astro.props;
---
<style>
    .tf_fa.sm {
  width: 12px;
  height: 12px;
  }
  .big-icon{
    width: 36px;
    height: 36px;
  }
</style>
<div id="body" class="tf_box tf_clear tf_mw tf_clearfix">
    <!-- layout-container -->
    <div id="layout" class="pagewidth tf_box tf_clearfix">
        <!-- content -->
        <main id="content" class="tf_box tf_clearfix">
            <div id="page-71" class="type-page">
                <div class="page-content entry-content">
                    <p></p>
                    <!--themify_builder_content-->
                    <div id="themify_builder_content-71" data-postid="71"
                        class="themify_builder_content themify_builder_content-71 themify_builder tf_clear">
                        <MainCompanyBanner/>
                        <MainBreadcrumb breadcrumbs={breadcrumbs}/>
                        <!-- module_row -->
                        <div data-lazy="1" class="module_row themify_builder_row tb_8wb0110 tf_clearfix">
                            <div class="row_inner col_align_top tf_box tf_w tf_rel">
                                <div data-lazy="1"
                                    class="module_column tb-column col-full first tb_b9km112 repeat tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module text -->
                                        <div class="module module-text tb_r85d326   " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <h4 style="text-align: center;">SYARAT PENDAFTARAN</h4>
                                            </div>
                                        </div>
                                        <!-- /module text --><!-- module divider -->
                                        <div class="module tf_mw module-divider tb_b8bw426 solid  divider-custom divider-center"
                                            style="border-width: 2px;border-color: #00a651;margin-top: -5px;margin-bottom: 20px;width: 50px;"
                                            data-lazy="1">
                                        </div>
                                        <!-- /module divider -->
                                        <div data-lazy="1"
                                            class="module_subrow themify_builder_sub_row tb_u7hk246 tf_w tf_clearfix">
                                            <div class="subrow_inner gutter-none col_align_top tf_box tf_w">
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col2-1 first tb_1jim408">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module buttons -->
                                                        <div class="module module-buttons tb_biuk409 buttons-horizontal transparent  circle tf_textl"
                                                            data-lazy="1">
                                                            <div class="module-buttons-item tf_inline_b">
                                                                <a href="javascript:;" class="ui builder_button tb_default_color">
                                                                    <span class="tf_inline_b tf_vmiddle">SYARAT
                                                                        UTAMA</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- /module buttons -->
                                                        <!-- module text -->
                                                        <div class="module module-text tb_wzbu411   " data-lazy="1">
                                                            <div class="tb_text_wrap">
                                                                <ol>
                                                                    <li style="text-align: justify;">Sanggup
                                                                        mentaati segala peraturan dan tata
                                                                        tertib pesantren dengan menandatangani
                                                                        surat pernyataan dan perjanjian.</li>
                                                                    <li style="text-align: justify;">Berkelakuan
                                                                        baik, memiliki semangat belajar dan
                                                                        sholat berjama’ah</li>
                                                                    
                                                                  
                                                                    <li style="text-align: justify;">Sanggup
                                                                        tidak pulang, terkecuali ada
                                                                        kebutuhan/&#8217;udzur tertentu yang
                                                                        tidak dapat ditolelir dan melalui
                                                                        perizinan khusus.</li>
                                                                   
                                                                    
                                                                    <li style="text-align: justify;">Calon
                                                                        santri diantar langsung oleh orang
                                                                        tua/wali ketika melakukan daftar ulang.
                                                                    </li>
                                                                </ol>
                                                            </div>
                                                        </div>
                                                        <!-- /module text -->
                                                    </div>
                                                </div>
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col2-1 last tb_7da3641">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module buttons -->
                                                        <div class="module module-buttons tb_zq4x641 buttons-horizontal transparent  circle tf_textl"
                                                            data-lazy="1">
                                                            <div class="module-buttons-item tf_inline_b">
                                                                <a href="javascript:;" class="ui builder_button tb_default_color">
                                                                    <span class="tf_inline_b tf_vmiddle">SYARAT
                                                                        ADMINISTRASI</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- /module buttons -->
                                                        <!-- module text -->
                                                        <div class="module module-text tb_r8tc641   " data-lazy="1">
                                                            <div class="tb_text_wrap">
                                                                <ol>
                                                                    <li style="text-align: justify;">Mengisi
                                                                        formulir pendaftaran</li>
                                                                    <li style="text-align: justify;">Menyerahkan
                                                                        foto copy surat kelahiran / akta
                                                                        kelahiran</li>
                                                                    <li style="text-align: justify;">Menyerahkan
                                                                        foto copy ijazah</li>
                                                                   
                                                                 
                                                                    <li style="text-align: justify;">Membawa
                                                                        foto copy KTP dan KK (kartu keluarga)
                                                                        orang tua/wali</li>
                                                                    
                                                                    <li style="text-align: justify;">Membayar
                                                                        seluruh administrasi pendaftaran yang
                                                                        telah ditetapkan pihak pesantren.</li>
                                                                </ol>
                                                            </div>
                                                        </div>
                                                        <!-- /module text -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /themify_builder_sub_row -->
                                    </div>
                                </div>
                            </div>
                            <!-- /row_inner -->
                        </div>
                        <!-- /module_row -->
                        <!-- module_row -->
                        <div data-lazy="1" class="module_row themify_builder_row repeat tb_8eav194 tf_clearfix">
                            <div class="row_inner col_align_top tf_box tf_w tf_rel">
                                <div data-lazy="1"
                                    class="module_column tb-column col-full first tb_nic0196 repeat tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module text -->
                                        <div class="module module-text tb_ri79196   " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <h4 style="text-align: center;">BIAYA ADMINISTRASI PENDAFTARAN
                                                </h4>
                                            </div>
                                        </div>
                                        <!-- /module text --><!-- module divider -->
                                        <div class="module tf_mw module-divider tb_qwk2198 solid  divider-custom divider-center"
                                            style="border-width: 2px;border-color: #00a651;margin-top: -5px;margin-bottom: 20px;width: 50px;"
                                            data-lazy="1">
                                        </div>
                                        <!-- /module divider -->
                                        <!-- module text -->
                                        <div class="module module-text tb_9aqx413   " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <div style="overflow: scroll;">
                                                    <table>
                                                        <tbody>
                                                            <tr style="background-color: #00a651;">
                                                                <td style="width: 10px;"><span
                                                                        style="color: #ffffff;">NO</span></td>
                                                                <td style="width: 600px;"><span
                                                                        style="color: #ffffff;">KETERANGAN</span>
                                                                </td>
                                                                <td><span style="color: #ffffff;">RINCIAN
                                                                        BIAYA</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td rowspan="6">1</td>
                                                                <td colspan="2"><strong>BIAYA AWAL
                                                                        PENDAFTARAN</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Biaya Formulir Pendaftaran</td>
                                                                <td>Rp. 200.000,-</td>
                                                            </tr>
                                                          
                                                            <tr>
                                                                <td width="475">Syahriyah Ponpes dan Pendidikan
                                                                    Kesetaraan (Bulanan) untuk satu bulan</td>
                                                                <td>Rp. 500.000,-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Infaq Pembangunan</td>
                                                                <td>Rp. 1000.000,-</td>
                                                            </tr>
                                                           
                                                            
                                                            <tr>
                                                                <td style="color: #00a651;"><strong>TOTAL YANG
                                                                        HARUS DIBAYAR</strong></td>
                                                                <td><span style="color: #00a651;"><strong>Rp.
                                                                            1.700.000,-</strong></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /module text -->
                                        <div data-lazy="1"
                                            class="module_subrow themify_builder_sub_row tb_kfq4884 tf_w tf_clearfix">
                                            <div class="subrow_inner col_align_middle tf_box tf_w">
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col3-2 first tb_0k24886 repeat">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module text -->
                                                        <div class="module module-text tb_9qfk673   " data-lazy="1">
                                                            <div class="tb_text_wrap">
                                                                <h5 style="text-align: justify;"><strong><span
                                                                            style="text-decoration: underline;"><span
                                                                                style="color: #ff0000; text-decoration: underline;">CATATAN</span></span></strong>
                                                                </h5>
                                                                <ol>
                                                                    <li style="text-align: justify;">Biaya
                                                                        Administrasi dapat diangsur 2 kali
                                                                        pembayaran dalam kurun waktu maksimal 2
                                                                        bulan.</li>
                                                                  
                                                                    <li style="text-align: justify;">Pembayaran
                                                                        Syahriyah (SPP bulanan) paling lambat
                                                                        tanggal 10 setiap bulannya.</li>
                                                                    <li style="text-align: justify;">Setiap
                                                                        Keterlambatan pembayaran syahriyah akan
                                                                        dikenakan sanksi administrasi</li>
                                                                    <li style="text-align: justify;">Bagi santri
                                                                        yang mengundurkan diri dan sudah
                                                                        membayar seluruh biaya Administrasi
                                                                        Pendaftaran, maka biaya administrasi
                                                                        tidak bisa dikembalikan dan uang
                                                                        tersebut sebagai Infaq Pondok Pesantren
                                                                        Darussalam.</li>
                                                                    <li style="text-align: justify;">Setiap Wali
                                                                        Santri wajib menandatangani Surat
                                                                        Pernyataan bermaterai.</li>
                                                                </ol>
                                                            </div>
                                                        </div>
                                                        <!-- /module text -->
                                                    </div>
                                                </div>
                                                <div data-lazy="1"
                                                    class="sub_column module_column tf_box col3-1 last tb_aptb886 repeat">
                                                    <div class="tb-column-inner tf_box tf_w">
                                                        <!-- module text -->
                                                        <div class="module module-text tb_42gt694   " data-lazy="1">
                                                            <div class="tb_text_wrap">
                                                                <p style="text-align: center;"><strong>Surat
                                                                        Perjanjian Santri<br></strong></p>
                                                            </div>
                                                        </div>
                                                        <!-- /module text --><!-- module icon -->
                                                        <div class="module module-icon tb_qs6n167  small circle icon_horizontal tf_textc"
                                                            data-lazy="1">
                                                            <div class="module-icon-item tf_inline_b">
                                                                <em class="ui tf_vmiddle tf_textc tf_box green"><svg
                                                                        aria-hidden="true"
                                                                        class="tf_fa tf-ti-angle-double-down sm">
                                                                        <use href="#tf-ti-angle-double-down">
                                                                        </use>
                                                                    </svg></em>
                                                            </div>
                                                        </div>
                                                        <!-- /module icon -->
                                                        <!-- module buttons -->
                                                        <div class="module module-buttons tb_nih6948 buttons-horizontal outline  tf_textc"
                                                            data-lazy="1">
                                                            <div class="module-buttons-item tf_inline_b">
                                                                <a href="/assets/downloads/surat-pernyataan-dan-perjanjian-santri.pdf"
                                                                    class="ui builder_button tb_default_color"
                                                                    target="_blank" rel="noopener">
                                                                    <span class="tf_inline_b tf_vmiddle">Download</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- /module buttons -->
                                                        <!-- module divider -->
                                                        <div class="module tf_mw module-divider tb_d2je196 double   "
                                                            style="border-width: 3px;border-color: rgba(0,0,0, 0.49);margin-top: 30px;margin-bottom: 30px;"
                                                            data-lazy="1">
                                                        </div>
                                                        <!-- /module divider -->
                                                        <!-- module text -->
                                                        <div class="module module-text tb_5ap9462   " data-lazy="1">
                                                            <div class="tb_text_wrap">
                                                                <p style="text-align: center;"><strong>Surat
                                                                        Perjanjian Orang Tua Wali<br></strong>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <!-- /module text --><!-- module icon -->
                                                        <div class="module module-icon tb_91xl4  small circle icon_horizontal tf_textc"
                                                            data-lazy="1">
                                                            <div class="module-icon-item tf_inline_b">
                                                                <em class="ui tf_vmiddle tf_textc tf_box green"><svg
                                                                        aria-hidden="true"
                                                                        class="tf_fa tf-ti-angle-double-down sm">
                                                                        <use href="#tf-ti-angle-double-down">
                                                                        </use>
                                                                    </svg></em>
                                                            </div>
                                                        </div>
                                                        <!-- /module icon -->
                                                        <!-- module buttons -->
                                                        <div class="module module-buttons tb_7d4h294 buttons-horizontal outline  tf_textc"
                                                            data-lazy="1">
                                                            <div class="module-buttons-item tf_inline_b">
                                                                <a href="/assets/downloads/surat-pernyataan-dan-perjanjian-orang-tua-wali-santri.pdf"
                                                                    class="ui builder_button tb_default_color"
                                                                    target="_blank" rel="noopener">
                                                                    <span class="tf_inline_b tf_vmiddle">Download</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- /module buttons -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /themify_builder_sub_row -->
                                    </div>
                                </div>
                            </div>
                            <!-- /row_inner -->
                        </div>
                        <!-- /module_row -->
                        <!-- module_row -->
                        <div data-lazy="1" class="module_row themify_builder_row repeat tb_h51p756 tf_clearfix">
                            <div class="row_inner col_align_middle gutter-none tf_box tf_w tf_rel">
                                <div data-lazy="1"
                                    class="module_column tb-column col4-2 first tb_y0d4758 repeat tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module buttons -->
                                        <div class="module module-buttons tb_76rd434 buttons-horizontal transparent  circle tf_textl"
                                            data-lazy="1">
                                            <div class="module-buttons-item tf_inline_b">
                                                <a href="#" class="ui builder_button tb_default_color" style="display:none">
                                                    <span class="tf_inline_b tf_vmiddle">Daftar via
                                                        Online</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /module buttons -->
                                        <!-- module text -->
                                        <div class="module module-text tb_fo99475   " data-lazy="1">
                                            <div class="tb_text_wrap">
                                                <h4>{company.name}</h4>
                                            </div>
                                        </div>
                                        <!-- /module text -->
                                    </div>
                                </div>
                                <div data-lazy="1" class="module_column tb-column col4-2 last tb_kuyg396 repeat tf_box">
                                    <div class="tb-column-inner tf_box tf_w">
                                        <!-- module icon -->
                                        <div class="module module-icon tb_zok9288  xlarge circle icon_horizontal tf_textc hide-mobile"
                                            data-lazy="1">
                                            <div class="module-icon-item tf_inline_b">
                                                <a
                                                    href="/assets/downloads/formulir-pendaftaran-ponpes-kanzululum.pdf">
                                                    <em class="ui tf_vmiddle tf_textc tf_box transparent"><svg
                                                            aria-hidden="true" class="tf_fa tf-ti-files big-icon">
                                                            <use href="#tf-ti-files"></use>
                                                        </svg></em>
                                                    <span class="tf_vmiddle">Download Formulir Pendaftaran
                                                        Online</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /module icon -->
                                        <!-- module icon -->
                                        <div class="module module-icon tb_870z498  normal circle icon_horizontal  hide-desktop hide-tablet hide-tablet_landscape"
                                            data-lazy="1">
                                            <div class="module-icon-item tf_inline_b">
                                                <a
                                                    href="/assets/downloads/formulir-pendaftaran-ponpes-kanzululum.pdf">
                                                    <em class="ui tf_vmiddle tf_textc tf_box transparent"><svg
                                                            aria-hidden="true" class="tf_fa tf-ti-files">
                                                            <use href="#tf-ti-files"></use>
                                                        </svg></em>
                                                    <span class="tf_vmiddle">Download Formulir Pendaftaran
                                                        Online</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /module icon -->
                                    </div>
                                </div>
                            </div>
                            <!-- /row_inner -->
                        </div>
                        <!-- /module_row -->
                    </div>
                    <!--/themify_builder_content-->
                    <!-- /comments -->
                </div>
                <!-- /.post-content -->
            </div>
            <!-- /.type-page -->
        </main>
        <!-- /content -->
    </div>
    <!-- /layout-container -->
</div><!-- /body -->