---
import CompanyShortAddress from "../blocks/company-short-address.astro";
import TopSocialNetButtonList from "../blocks/top-social-net-button-list.astro";

const { company } = Astro.props;
---
<div class="header-widget-full tf_clearfix">
    <div class="header-widget tf_clear tf_clearfix">
      <div class="header-widget-inner tf_scrollbar tf_clearfix">
        <CompanyShortAddress company={company}/>
        <TopSocialNetButtonList company={company}/>
      </div>
      <!-- /.header-widget-inner -->
    </div>
    <!-- /.header-widget -->
  </div>