/*/themify-builder/css/modules/gallery.min.css*/
.module-gallery .gallery-icon,.module-gallery .gallery-item img{margin:0;padding:0}.module-gallery.rounded .gallery-icon{max-width:100%}.module-gallery.rounded img{border-radius:8px}.module-gallery.bordered img{border:solid 1px rgba(0,0,0,.2);padding:3px}.module-gallery.drop-shadow img{box-shadow:0 1px 8px 0 rgba(0,0,0,.1)}.module.module-gallery.circle img{overflow:hidden;text-align:center;border-radius:50em}.module_column .module.module-gallery.circle .gallery-caption{text-align:center}.builder_gallery_load{cursor:wait;opacity:.5}.module.gallery .gallery-caption{margin:.5em 0;font-size:.95em}

/*/themify-builder/css/modules/gallery_styles/grid.min.css*/
.module-gallery-grid{--galN:1;--galG:1.5%;display:grid;column-gap:15px;row-gap:15px;grid-template-columns:repeat(var(--galN),1fr)}div.module-gallery-grid .gallery-item{max-width:100%;width:100%;float:none;text-align:center;margin:0}.gallery-masonry .pagenav{position:absolute;top:100%;width:100%}div.gallery-masonry .gallery-item{margin-bottom:var(--galG)}.themify_builder_active .module.gallery-masonry .pagenav{position:sticky}.gallery-columns-2{--galN:2}.gallery-columns-3{--galN:3}.gallery-columns-4{--galN:4}.gallery-columns-5{--galN:5}.gallery-columns-6{--galN:6}.gallery-columns-7{--galN:7}.gallery-columns-8{--galN:8}.gallery-columns-9{--galN:9}@media screen and (max-width:680px){.module-gallery-grid{column-gap:8px;row-gap:8px}}@media screen and (max-width:768px){.gallery-t-columns-1{--galN:1}.gallery-t-columns-2{--galN:2}.gallery-t-columns-3{--galN:3}.gallery-t-columns-4{--galN:4}.gallery-t-columns-5{--galN:5}.gallery-t-columns-6{--galN:6}.gallery-t-columns-7{--galN:7}.gallery-t-columns-8{--galN:8}.gallery-t-columns-9{--galN:9}}@media screen and (max-width:480px){.gallery-m-columns-1{--galN:1}.gallery-m-columns-2{--galN:2}.gallery-m-columns-3{--galN:3}.gallery-m-columns-4{--galN:4}.gallery-m-columns-5{--galN:5}.gallery-m-columns-6{--galN:6}.gallery-m-columns-7{--galN:7}.gallery-m-columns-8{--galN:8}.gallery-m-columns-9{--galN:9}}

.themify_builder_content-71 .tb_7fsz922.module_row {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
    background-color: rgba(238, 238, 238, 1);
}

.themify_builder_content-71 .tb_l33d931.module_column {
    background-color: rgba(221, 221, 221, 1);
    padding-top: 5px;
}

.themify_builder_content-71 .tb_w8tf931.module-plain-text {
    text-align: center;
}

.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap p,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap blockquote,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap h1,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap h2,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap h3,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap h4,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap h5,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap h6,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap li,.themify_builder_content-71 .tb_w8tf931.module-plain-text .tb_text_wrap span {
    color: rgba(0, 166, 81, 1);
    -webkit-background-clip: border-box;
    background-clip: border-box;
    background-image: none;
}

.themify_builder_content-71 .tb_4h9m932.module-plain-text {
    text-align: center;
}

.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap p,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap blockquote,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap h1,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap h2,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap h3,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap h4,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap h5,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap h6,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap li,.themify_builder_content-71 .tb_4h9m932.module-plain-text .tb_text_wrap span {
    color: rgba(0, 166, 81, 1);
    -webkit-background-clip: border-box;
    background-clip: border-box;
    background-image: none;
}

.themify_builder_content-71 .tb_4wki922.module_row {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);
    background-color: rgba(250, 250, 250, 1);
    background-position: 50% 50%;
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: url(/assets/images//arches.png);
    padding-bottom: 10px;
    padding-top: 15px;
}

.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap p,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap blockquote,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap h1,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap h2,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap h3,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap h4,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap h5,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap h6,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap li,.themify_builder_content-71 .tb_pwrn935.module-plain-text .tb_text_wrap span {
    color: rgba(51, 51, 51, 1);
    -webkit-background-clip: border-box;
    background-clip: border-box;
    background-image: none;
}

.themify_builder_content-71 .tb_pwrn935.module-plain-text {
    text-align: center;
}

.themify_builder_content-71 .tb_pwrn935.module-plain-text a:hover {
    color: rgba(0, 166, 81, 1);
    text-decoration: none;
}

.themify_builder_content-71 .tb_un1i998.module_row {
    padding-bottom: 30px;
    padding-top: 30px;
}
