---
const {floatingContact, company} = Astro.props;
---
<div class="floatwa">
    <div class="tombolwa">
      <a
        href={`https://api.whatsapp.com/send?phone=${floatingContact.whatsapp}`}
        target="_blank"
      >
        <img
          src="/fly-whatsapp.png"
        /></a
      >
    </div>

    <div class="tombolwa">
      <a href={`tel:${floatingContact.phone}`} target="_blank">
        <img
          src="/fly-phone.png"
        /></a
      >
    </div>
  </div>