<div id="body" class="tf_box tf_clear tf_mw tf_clearfix">
    <!-- layout-container -->
    <div id="layout" class="pagewidth tf_box tf_clearfix">
      <!-- content -->
      <main id="content" class="tf_box tf_clearfix">
        <div id="page-71" class="type-page">
          <div class="page-content entry-content">
            <!--themify_builder_content-->
            <div
              id="themify_builder_content-71"
              data-postid="71"
              class="themify_builder_content themify_builder_content-71 themify_builder tf_clear"
            >
              <!-- module_row -->
              <div
                data-css_id="pemf402"
                data-lazy="1"
                class="module_row themify_builder_row fullwidth tb_pemf402 tb_first tf_clearfix"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_6jyr405 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module widget -->
                      <div
                        class="module module-widget tb_j710825"
                        data-lazy="1"
                      >
                        <div class="widget widget_revslider">
                          <div
                            id="rev_slider_1_1_wrapper"
                            class="rev_slider_wrapper fullwidthbanner-container"
                            data-source="gallery"
                            style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;"
                          >
                            <!-- START REVOLUTION SLIDER 5.4.8.3 auto mode -->
                            <div
                              id="rev_slider_1_1"
                              class="rev_slider fullwidthabanner"
                              style="display:none;"
                              data-version="5.4.8.3"
                            >
                              <ul>
                                <!-- SLIDE  -->
                                <li
                                  data-index="rs-1"
                                  data-transition="slotslide-horizontal"
                                  data-slotamount="default"
                                  data-hideafterloop="0"
                                  data-hideslideonmobile="off"
                                  data-easein="default"
                                  data-easeout="default"
                                  data-masterspeed="default"
                                  data-thumb="/galeri/2021/11/ponpes-kanzul-ulum-brebes-slide-2.jpg"
                                  data-rotate="0"
                                  data-saveperformance="off"
                                  data-title="Slide"
                                  data-param1=""
                                  data-param2=""
                                  data-param3=""
                                  data-param4=""
                                  data-param5=""
                                  data-param6=""
                                  data-param7=""
                                  data-param8=""
                                  data-param9=""
                                  data-param10=""
                                  data-description=""
                                >
                                  <!-- MAIN IMAGE -->
                                  <img
                                    fetchpriority="high"
                                    decoding="async"
                                    src="/galeri/2021/11/ponpes-kanzul-ulum-brebes-slide-2.jpg"
                                    alt=""
                                    title="ponpes kanzul ulum brebes-slide 2"
                                    width="1366"
                                    height="545"
                                    data-bgposition="center center"
                                    data-bgfit="cover"
                                    data-bgrepeat="no-repeat"
                                    class="rev-slidebg"
                                    data-no-retina
                                  />
                                  <!-- LAYERS -->
                                </li>
                                <!-- SLIDE  -->
                                <li
                                  data-index="rs-2"
                                  data-transition="slotslide-horizontal"
                                  data-slotamount="default"
                                  data-hideafterloop="0"
                                  data-hideslideonmobile="off"
                                  data-easein="default"
                                  data-easeout="default"
                                  data-masterspeed="default"
                                  data-thumb="/galeri/2021/11/ponpes-kanzul-ulum-brebes-slide-1.jpg"
                                  data-rotate="0"
                                  data-saveperformance="off"
                                  data-title="Slide"
                                  data-param1=""
                                  data-param2=""
                                  data-param3=""
                                  data-param4=""
                                  data-param5=""
                                  data-param6=""
                                  data-param7=""
                                  data-param8=""
                                  data-param9=""
                                  data-param10=""
                                  data-description=""
                                >
                                  <!-- MAIN IMAGE -->
                                  <img
                                    decoding="async"
                                    src="/galeri/2021/11/ponpes-kanzul-ulum-brebes-slide-1.jpg"
                                    alt=""
                                    title="ponpes kanzul ulum brebes-slide 1"
                                    width="1366"
                                    height="545"
                                    data-bgposition="center center"
                                    data-bgfit="cover"
                                    data-bgrepeat="no-repeat"
                                    class="rev-slidebg"
                                    data-no-retina
                                  />
                                  <!-- LAYERS -->
                                </li>
                              </ul>
                              <script>
                                var htmlDiv = document.getElementById(
                                  "rs-plugin-settings-inline-css"
                                )
                                var htmlDivCss = ""
                                if (htmlDiv) {
                                  htmlDiv.innerHTML =
                                    htmlDiv.innerHTML + htmlDivCss
                                } else {
                                  var htmlDiv =
                                    document.createElement("div")
                                  htmlDiv.innerHTML =
                                    "<style>" + htmlDivCss + "</style>"
                                  document
                                    .getElementsByTagName("head")[0]
                                    .appendChild(htmlDiv.childNodes[0])
                                }
                              </script>
                              <div
                                class="tp-bannertimer tp-bottom"
                                style="visibility: hidden !important;"
                              >
                              </div>
                            </div>
                            <script>
                              var htmlDiv = document.getElementById(
                                "rs-plugin-settings-inline-css"
                              )
                              var htmlDivCss = ""
                              if (htmlDiv) {
                                htmlDiv.innerHTML =
                                  htmlDiv.innerHTML + htmlDivCss
                              } else {
                                var htmlDiv = document.createElement("div")
                                htmlDiv.innerHTML =
                                  "<style>" + htmlDivCss + "</style>"
                                document
                                  .getElementsByTagName("head")[0]
                                  .appendChild(htmlDiv.childNodes[0])
                              }
                            </script>
                            <script type="text/javascript">
                              if (setREVStartSize !== undefined)
                                setREVStartSize({
                                  c: "#rev_slider_1_1",
                                  gridwidth: [1366],
                                  gridheight: [545],
                                  sliderLayout: "auto",
                                })

                              var revapi1, tpj
                              ;(function () {
                                if (
                                  !/loaded|interactive|complete/.test(
                                    document.readyState
                                  )
                                )
                                  document.addEventListener(
                                    "DOMContentLoaded",
                                    onLoad
                                  )
                                else onLoad()
                                function onLoad() {
                                  if (tpj === undefined) {
                                    tpj = jQuery
                                    if ("off" == "on") tpj.noConflict()
                                  }
                                  if (
                                    tpj("#rev_slider_1_1").revolution ==
                                    undefined
                                  ) {
                                    revslider_showDoubleJqueryError(
                                      "#rev_slider_1_1"
                                    )
                                  } else {
                                    revapi1 = tpj("#rev_slider_1_1")
                                      .show()
                                      .revolution({
                                        sliderType: "standard",
                                        jsFileLocation:
                                          "/wp-content/plugins/revslider/public/assets/js/",
                                        sliderLayout: "auto",
                                        dottedOverlay: "none",
                                        delay: 6000,
                                        navigation: {
                                          keyboardNavigation: "off",
                                          keyboard_direction: "horizontal",
                                          mouseScrollNavigation: "off",
                                          mouseScrollReverse: "default",
                                          onHoverStop: "off",
                                          arrows: {
                                            style: "gyges",
                                            enable: true,
                                            hide_onmobile: false,
                                            hide_onleave: true,
                                            hide_delay: 200,
                                            hide_delay_mobile: 1200,
                                            tmp: "",
                                            left: {
                                              h_align: "left",
                                              v_align: "center",
                                              h_offset: 20,
                                              v_offset: 0,
                                            },
                                            right: {
                                              h_align: "right",
                                              v_align: "center",
                                              h_offset: 20,
                                              v_offset: 0,
                                            },
                                          },
                                        },
                                        visibilityLevels: [
                                          1240, 1024, 778, 480,
                                        ],
                                        gridwidth: 1366,
                                        gridheight: 545,
                                        lazyType: "none",
                                        shadow: 0,
                                        spinner: "spinner0",
                                        stopLoop: "off",
                                        stopAfterLoops: -1,
                                        stopAtSlide: -1,
                                        shuffle: "off",
                                        autoHeight: "off",
                                        disableProgressBar: "on",
                                        hideThumbsOnMobile: "off",
                                        hideSliderAtLimit: 0,
                                        hideCaptionAtLimit: 0,
                                        hideAllCaptionAtLilmit: 0,
                                        debugMode: false,
                                        fallbacks: {
                                          simplifyAll: "off",
                                          nextSlideOnWindowFocus: "off",
                                          disableFocusListener: false,
                                        },
                                      })
                                  } /* END OF revapi call */
                                } /* END OF ON LOAD FUNCTION */
                              })() /* END OF WRAPPING FUNCTION */
                            </script>
                          </div><!-- END REVOLUTION SLIDER -->
                        </div>
                      </div>
                      <!-- /module widget -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row repeat tb_s3l0414 tf_clearfix hide-tablet hide-tablet_landscape hide-mobile"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_ej84416 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module plain text -->
                      <div
                        class="module module-plain-text tb_bi1v417"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h4><b>Selamat Datang</b></h4>
                        </div>
                      </div>
                      <!-- /module plain text --><!-- module plain text -->
                      <div
                        class="module module-plain-text tb_a7pf592"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <p>
                            Di laman website resmi Pondok Pesantren
                            Kanzul Ulum Jatibarang, Cirebon, Jawa Barat. Kami
                            merupakan Lembaga Pendidikan Salaf yang mendidik
                            para santri dan fokus pada pembekalan Aqidah,
                            Syari&#8217;ah dan Akhlaq ala Ahlussunnah wal
                            Jama&#8217;ah.
                          </p>
                        </div>
                      </div>
                      <!-- /module plain text -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row repeat tb_cqc5947 tf_clearfix hide-desktop"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_4vlf948 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module plain text -->
                      <div
                        class="module module-plain-text tb_3988948"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h5><b>Selamat Datang</b></h5>
                        </div>
                      </div>
                      <!-- /module plain text --><!-- module plain text -->
                      <div
                        class="module module-plain-text tb_gvuw948"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <p>
                            Di laman website resmi Pondok Pesantren
                            Kanzul Ulum, Cirebon, Jawa Barat. Kami
                            merupakan Lembaga Pendidikan Salaf yang mendidik
                            para santri dan fokus pada pembekalan Aqidah,
                            Syari&#8217;ah dan Akhlaq ala Ahlussunnah wal
                            Jama&#8217;ah.
                          </p>
                        </div>
                      </div>
                      <!-- /module plain text -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row tb_y2sv138 tf_clearfix hide-tablet hide-tablet_landscape hide-mobile"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-2 first tb_n66z139 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module image -->
                      <div
                        class="module module-image tb_44hk140 image-center tf_mw"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/ponpes-kanzul ulum-brebes-profil.jpg"
                            width="600"
                            height="383"
                            title="Home"
                            alt="Home"
                          />
                        </div>
                        <!-- /image-wrap -->
                      </div>
                      <!-- /module image -->
                    </div>
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-2 last tb_pe08141 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module plain text -->
                      <div
                        class="module module-plain-text tb_2m0u141"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h6><b>Pondok Pesantren</b></h6>
                        </div>
                      </div>
                      <!-- /module plain text --><!-- module plain text -->
                      <div
                        class="module module-plain-text tb_e956142"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h2><b>Kanzul Ulum</b></h2>
                        </div>
                      </div>
                      <!-- /module plain text --><!-- module text -->
                      <div
                        class="module module-text tb_ohc9143 tb_text_dropcap"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <p>
                            Syaikh Sholeh Muhammad Basalamah, beliau
                            mendirikan yayasan Pendidikan Islam Darussalam
                            pada tahun 1988. Berselang kurang lebih 11
                            tahun, madrasah ini menjadi pondok pesantren
                            yang cukup besar, diberi nama Pondok Pesantren
                            Darussalam. Pada tahun 1999 beliau menerima
                            santri yang ingin tinggal di Pondok Pesantren
                            Darussalam, yang sebelumnya mereka tinggal di
                            rumah masing-masing. Tetapi sekarang ponpes
                            Darussalam terus berkembang, baik secara
                            kualitas maupun kuantitas.
                          </p>
                          <p>
                            Ponpes Darussalam mendidik para santri dengan
                            menerapkan tarbiyyatussalaf dan dikolaborasi
                            dengan kurikulum yang diadopsi dari pembelajaran
                            khas Timur Tengah. Ponpes Darussalam tidak
                            menyertakan pendidikan formal, seperti SD bahkan
                            sampai Perguruan Tinggi, namun ijazah yang
                            dikeluarkan bisa digunakan untuk mendaftar ke
                            tingkat pendidikan yang lebih tinggi, baik di
                            Indonesia atau di Timur Tengah. Jenjang
                            pendidikan yang ada di pondok ini dimulai dari
                            i&#8217;dadi, ibtida, tsanawiy, kemudian aliyah.
                          </p>
                        </div>
                      </div>
                      <!-- /module text -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row tb_1voz655 tf_clearfix hide-desktop"
              >
                <div
                  class="row_inner col_align_top tf_box tf_w tf_rel"
                  data-basecol="2"
                  data-col_tablet="column4-2"
                  data-col_tablet_landscape="column4-2"
                  data-col_mobile="column4-2"
                >
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-2 first tb_eut5656 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module image -->
                      <div
                        class="module module-image tb_9mpk656 image-center tf_mw"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/ponpes-kanzul ulum-brebes-profil.jpg"
                            width="600"
                            height="383"
                            title="Home"
                            alt="Home"
                          />
                        </div>
                        <!-- /image-wrap -->
                      </div>
                      <!-- /module image -->
                    </div>
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-2 last tb_rtc1656 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module plain text -->
                      <div
                        class="module module-plain-text tb_abbp657"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h6><b>Pondok Pesantren</b></h6>
                        </div>
                      </div>
                      <!-- /module plain text --><!-- module plain text -->
                      <div
                        class="module module-plain-text tb_huwl657"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h4><b>Kanzul Ulum</b></h4>
                        </div>
                      </div>
                      <!-- /module plain text --><!-- module text -->
                      <div
                        class="module module-text tb_ptm1658 tb_text_dropcap"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <p>Syaikh Sholeh Muhammad Basalamah,</p>
                        </div>
                      </div>
                      <!-- /module text -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row tb_7soo678 tf_clearfix hide-desktop"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_xzgv678 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module text -->
                      <div
                        class="module module-text tb_t81s43"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <p>
                            beliau mendirikan yayasan Pendidikan Islam
                            Darussalam pada tahun 1988. Berselang kurang
                            lebih 11 tahun, madrasah ini menjadi pondok
                            pesantren yang cukup besar, diberi nama Pondok
                            Pesantren Darussalam. Pada tahun 1999 beliau
                            menerima santri yang ingin tinggal di Pondok
                            Pesantren Darussalam, yang sebelumnya mereka
                            tinggal di rumah masing-masing. <a
                              href="profil-ponpes-kanzul ulum-jatibarang-brebes/index.html"
                              >Selengkapnya</a
                            >
                          </p>
                        </div>
                      </div>
                      <!-- /module text -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-css_id="labl279"
                data-lazy="1"
                class="module_row themify_builder_row fullwidth tb_labl279 tf_clearfix"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_r1kz280 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module image -->
                      <div
                        class="module module-image tb_1arj280 image-center tf_mw hide-tablet hide-tablet_landscape hide-mobile"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/sub1.jpg"
                            width="1366"
                            height="220"
                            title="Home"
                            alt="Home"
                          />
                        </div>
                        <!-- /image-wrap -->
                      </div>
                      <!-- /module image --><!-- module image -->
                      <div
                        class="module module-image tb_43y4281 image-center tf_mw hide-desktop"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/sub2.jpg"
                            width="720"
                            height="220"
                            title="Home"
                            alt="Home"
                          />
                        </div>
                        <!-- /image-wrap -->
                      </div>
                      <!-- /module image -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-css_id="pb2u876"
                data-lazy="1"
                class="module_row themify_builder_row repeat fullwidth tb_pb2u876 tf_clearfix"
              >
                <div
                  class="row_inner col_align_top gutter-none tf_box tf_w tf_rel"
                  data-basecol="3"
                  data-col_tablet="column4-1-4-2-4-1"
                  data-col_tablet_landscape="column4-1-4-2-4-1"
                  data-col_mobile="column4-1-4-2-4-1"
                >
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-1 first tb_nsrj877 tf_box"
                  >
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-2 middle tb_0jrp877 repeat tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module plain text -->
                      <div
                        class="module module-plain-text tb_8ekf877 hide-tablet hide-tablet_landscape hide-mobile"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h6><b>Lembaga</b></h6>
                        </div>
                      </div>
                      <!-- /module plain text --><!-- module plain text -->
                      <div
                        class="module module-plain-text tb_u8uu878 hide-desktop"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h6 style="font-size: 11px"><b>Lembaga</b></h6>
                        </div>
                      </div>
                      <!-- /module plain text -->
                    </div>
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-1 last tb_p5g1879 tf_box"
                  >
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row tb_0azu289 tf_clearfix hide-tablet hide-tablet_landscape hide-mobile"
              >
                <div
                  class="row_inner col_align_middle gutter-narrow tf_box tf_w tf_rel"
                >
                  <div
                    data-lazy="1"
                    class="module_column tb-column col5-1 first tb_j8da291 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module image -->
                      <div
                        class="module module-image tb_fdg1191 image-center tf_mw"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/ponpes-kanzul ulum.png"
                            width="191"
                            height="190"
                            alt="(Setara SMP/MTs)"
                          />
                        </div>
                        <!-- /image-wrap -->

                        <div class="image-content">
                          <div class="image-caption tb_text_wrap">
                            (Setara SMP/MTs)
                          </div>
                          <!-- /image-caption -->
                        </div>
                        <!-- /image-content -->
                      </div>
                      <!-- /module image -->
                    </div>
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col5-1 second tb_d012123 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module image -->
                      <div
                        class="module module-image tb_sgqr124 image-center tf_mw"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/ponpes-kanzul ulum.png"
                            width="191"
                            height="190"
                            alt="(Setara SMA/MA)"
                          />
                        </div>
                        <!-- /image-wrap -->

                        <div class="image-content">
                          <div class="image-caption tb_text_wrap">
                            (Setara SMA/MA)
                          </div>
                          <!-- /image-caption -->
                        </div>
                        <!-- /image-content -->
                      </div>
                      <!-- /module image -->
                    </div>
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col5-1 third tb_9k0h333 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module image -->
                      <div
                        class="module module-image tb_qgtn334 image-center tf_mw"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/ponpes-kanzul ulum.png"
                            width="191"
                            height="190"
                            title="Home"
                            alt="Home"
                          />
                        </div>
                        <!-- /image-wrap -->
                      </div>
                      <!-- /module image -->
                    </div>
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col5-1 fourth tb_ecja151 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module image -->
                      <div
                        class="module module-image tb_ejv0151 image-center tf_mw"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/ponpes-kanzul ulum.png"
                            width="191"
                            height="190"
                            title="Home"
                            alt="Home"
                          />
                        </div>
                        <!-- /image-wrap -->
                      </div>
                      <!-- /module image -->
                    </div>
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col5-1 last tb_ge8k88 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module image -->
                      <div
                        class="module module-image tb_7cua90 image-center tf_mw"
                        data-lazy="1"
                      >
                        <div class="image-wrap tf_rel tf_mw">
                          <img
                            decoding="async"
                            src="/galeri/2021/11/ponpes-kanzul ulum.png"
                            width="191"
                            height="190"
                            title="Home"
                            alt="Home"
                          />
                        </div>
                        <!-- /image-wrap -->
                      </div>
                      <!-- /module image -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row tb_8jgp943 tf_clearfix hide-desktop"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_q1e8944 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module plain text -->
                      <div
                        class="module module-plain-text tb_q6zv945"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h5 style="font-size: 17px">
                            <b
                              >Lembaga Pendidikan Salafiyah<br />(Non
                              Formal)</b
                            >
                          </h5>
                        </div>
                      </div>
                      <!-- /module plain text -->
                      <div
                        data-lazy="1"
                        class="module_subrow themify_builder_sub_row tb_w5l8945 tf_w tf_clearfix"
                      >
                        <div
                          class="subrow_inner col_align_top tf_box tf_w"
                          data-basecol="3"
                          data-col_tablet="column3-1"
                          data-col_tablet_landscape="column3-1"
                          data-col_mobile="column3-1"
                        >
                          <div
                            data-lazy="1"
                            class="sub_column module_column tf_box col3-1 first tb_2zat946"
                          >
                            <div class="tb-column-inner tf_box tf_w">
                              <!-- module image -->
                              <div
                                class="module module-image tb_k7f9946 image-center tf_mw"
                                data-lazy="1"
                              >
                                <div class="image-wrap tf_rel tf_mw">
                                  <img
                                    decoding="async"
                                    src="/galeri/2021/11/kelas-idadi-ponpes-kanzul ulum.png"
                                    width="191"
                                    height="190"
                                    title="Home"
                                    alt="Home"
                                  />
                                </div>
                                <!-- /image-wrap -->
                              </div>
                              <!-- /module image -->
                            </div>
                          </div>
                          <div
                            data-lazy="1"
                            class="sub_column module_column tf_box col3-1 middle tb_42mc947"
                          >
                            <div class="tb-column-inner tf_box tf_w">
                              <!-- module image -->
                              <div
                                class="module module-image tb_2bmc947 image-center tf_mw"
                                data-lazy="1"
                              >
                                <div class="image-wrap tf_rel tf_mw">
                                  <img
                                    decoding="async"
                                    src="/galeri/2021/11/kelas-tsanawiyah-ponpes-kanzul ulum.png"
                                    width="191"
                                    height="190"
                                    title="Home"
                                    alt="Home"
                                  />
                                </div>
                                <!-- /image-wrap -->
                              </div>
                              <!-- /module image -->
                            </div>
                          </div>
                          <div
                            data-lazy="1"
                            class="sub_column module_column tf_box col3-1 last tb_oy9m923"
                          >
                            <div class="tb-column-inner tf_box tf_w">
                              <!-- module image -->
                              <div
                                class="module module-image tb_hjul419 image-center tf_mw"
                                data-lazy="1"
                              >
                                <div class="image-wrap tf_rel tf_mw">
                                  <img
                                    decoding="async"
                                    src="/galeri/2021/11/kelas-aliyah-ponpes-kanzul ulum.png"
                                    width="191"
                                    height="190"
                                    title="Home"
                                    alt="Home"
                                  />
                                </div>
                                <!-- /image-wrap -->
                              </div>
                              <!-- /module image -->
                            </div>
                          </div>
                        </div>
                      </div><!-- /themify_builder_sub_row -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row tb_a5yf83 tf_clearfix hide-desktop"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_mkt984 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module plain text -->
                      <div
                        class="module module-plain-text tb_egs7659"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h5 style="font-size: 17px">
                            <b>Lembaga Pendidikan Kesetaraan (Formal)</b>
                          </h5>
                        </div>
                      </div>
                      <!-- /module plain text -->
                      <div
                        data-lazy="1"
                        class="module_subrow themify_builder_sub_row tb_l49k744 tf_w tf_clearfix"
                      >
                        <div
                          class="subrow_inner col_align_top tf_box tf_w"
                          data-basecol="2"
                          data-col_tablet="column4-2"
                          data-col_tablet_landscape="column4-2"
                          data-col_mobile="column4-2"
                        >
                          <div
                            data-lazy="1"
                            class="sub_column module_column tf_box col2-1 first tb_aiii745"
                          >
                            <div class="tb-column-inner tf_box tf_w">
                              <!-- module image -->
                              <div
                                class="module module-image tb_5cs6325 image-center tf_mw"
                                data-lazy="1"
                              >
                                <div class="image-wrap tf_rel tf_mw">
                                  <img
                                    decoding="async"
                                    src="/galeri/2021/11/tingkat-wustha-ponpes-kanzul ulum.png"
                                    width="191"
                                    height="190"
                                    alt="(Setara SMP/MTs)"
                                  />
                                </div>
                                <!-- /image-wrap -->

                                <div class="image-content">
                                  <div class="image-caption tb_text_wrap">
                                    (Setara SMP/MTs)
                                  </div>
                                  <!-- /image-caption -->
                                </div>
                                <!-- /image-content -->
                              </div>
                              <!-- /module image -->
                            </div>
                          </div>
                          <div
                            data-lazy="1"
                            class="sub_column module_column tf_box col2-1 last tb_7j2c745"
                          >
                            <div class="tb-column-inner tf_box tf_w">
                              <!-- module image -->
                              <div
                                class="module module-image tb_fk7q388 image-center tf_mw"
                                data-lazy="1"
                              >
                                <div class="image-wrap tf_rel tf_mw">
                                  <img
                                    decoding="async"
                                    src="/galeri/2021/11/tingkat-ulya-ponpes-kanzul ulum.png"
                                    width="191"
                                    height="190"
                                    alt="(Setara SMA/MA)"
                                  />
                                </div>
                                <!-- /image-wrap -->

                                <div class="image-content">
                                  <div class="image-caption tb_text_wrap">
                                    (Setara SMA/MA)
                                  </div>
                                  <!-- /image-caption -->
                                </div>
                                <!-- /image-content -->
                              </div>
                              <!-- /module image -->
                            </div>
                          </div>
                        </div>
                      </div><!-- /themify_builder_sub_row -->
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row tb_ek1b456 tf_clearfix"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_8wbe458 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module text -->
                      <div
                        class="module module-text tb_1jld592"
                        data-lazy="1"
                      >
                        <div class="tb_text_wrap">
                          <h4 style="text-align: center;">
                            Majelis Rutin Ponpes Kanzul Ulum
                          </h4>
                        </div>
                      </div>
                      <!-- /module text --><!-- module divider -->
                      <div
                        class="module tf_mw module-divider tb_f39d742 solid divider-custom divider-center"
                        style="border-width: 1px;border-color: #000000;margin-top: -5px;margin-bottom: 20px;width: 30px;"
                        data-lazy="1"
                      >
                      </div>
                      <!-- /module divider -->
                      <div
                        class="module tf_clearfix themify_builder_slider_wrap module-slider tb_thft854 slider-default"
                        data-lazy="1"
                      >
                        <div
                          class="themify_builder_slider tf_carousel tf_swiper-container tf_rel tf_overflow"
                          data-lazy="1"
                          data-tbreakpoints="1280"
                          data-mbreakpoints="680"
                          data-visible="3"
                          data-tab-visible="0"
                          data-mob-visible="2"
                          data-scroll="1"
                          data-auto="2000"
                          data-controller="0"
                          data-pause_hover="1"
                          data-speed="1"
                          data-wrapvar="1"
                          data-slider_nav="0"
                          data-pager="1"
                          data-effect="scroll"
                          data-height="variable"
                          data-horizontal="0"
                          data-css_url="https:/wp-content/themes/themify-ultra/themify/themify-builder/css/modules/sliders/carousel.css,https:/wp-content/themes/themify-ultra/themify/themify-builder/css/modules/sliders/slider.css"
                        >
                          <div
                            class="tf_swiper-wrapper tf_lazy tf_rel tf_w tf_h tf_textc"
                          >
                            <!-- module slider image -->

                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-7.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-7.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-6.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-6.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-5.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-5.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-4.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-4.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-3.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-3.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-2.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-2.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-1.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-1.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-10.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-10.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-9.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-9.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-8.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-8.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-13.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-13.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-12.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-12.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div
                                class="slide-inner-wrap"
                                style="margin-left:5px;margin-right:5px;"
                              >
                                <div class="tf_rel tf_lazy slide-image">
                                  <a
                                    href="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-11.jpg"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/12/galeri-ponpes-kanzul ulum-jatibarang-11.jpg"
                                      width="600"
                                      height="400"
                                      title="Home"
                                      alt="Home"
                                    />
                                  </a>
                                </div><!-- /slide-image -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row repeat tb_ilr1523 tf_clearfix"
              >
                <div
                  class="row_inner col_align_top gutter-none tf_box tf_w tf_rel"
                >
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-2 first tb_yjlq525 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module icon -->
                      <div
                        class="module module-icon tb_xpmh66 xlarge squared icon_horizontal"
                        data-lazy="1"
                      >
                        <div class="module-icon-item tf_inline_b">
                          <em
                            class="ui tf_vmiddle tf_textc tf_box tb_default_color"
                            ><svg
                              aria-hidden="true"
                              class="tf_fa tf-far-newspaper"
                              ><use href="#tf-far-newspaper"></use></svg
                            ></em
                          >
                          <span class="tf_vmiddle"
                            ><b>Berita</b> Ponpes Kanzul Ulum</span
                          >
                        </div>
                      </div>
                      <!-- /module icon -->
                    </div>
                  </div>
                  <div
                    data-lazy="1"
                    class="module_column tb-column col4-2 last tb_l9a2972 tf_box"
                  >
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
              <!-- module_row -->
              <div
                data-lazy="1"
                class="module_row themify_builder_row repeat tb_64mw464 tf_clearfix"
              >
                <div class="row_inner col_align_top tf_box tf_w tf_rel">
                  <div
                    data-lazy="1"
                    class="module_column tb-column col-full first tb_c9w1465 tf_box"
                  >
                    <div class="tb-column-inner tf_box tf_w">
                      <!-- module post -->
                      <div
                        class="module module-post tb_4j26391 hide-tablet hide-tablet_landscape hide-mobile"
                      >
                        <div
                          class="builder-posts-wrap loops-wrapper grid3 masonry classic tf_rel tf_clear tf_clearfix"
                          data-lazy="1"
                        >
                          <article
                            id="post-142"
                            class="post tf_clearfix post-142 type-post status-publish format-standard has-post-thumbnail hentry category-artikel tag-pentingnya-pendidikan-agama tag-pentingnya-pendidikan-agama-islam tag-pentingnya-pendidikan-agama-untuk-anak-usia-dini tag-pentingnya-pendidikan-agama-untuk-tumbuhkembang-anak tag-pondok-pesantren-kanzul ulum tag-pondok-pesantren-kanzul ulum-jatibarang-brebes tag-ponpes-kanzul ulum-jatibarang tag-sekolah-agama tag-sekolah-pendidikan-agama has-post-title has-post-date has-post-category no-post-tag has-post-comment has-post-author cat-5"
                          >
                            <a
                              href="pentingnya-pendidikan-agama-untuk-tumbuhkembang-anak/index.html"
                              aria-label="Pentingnya Pendidikan Agama untuk Tumbuhkembang Anak"
                              data-post-permalink="yes"
                              style="display: none;"></a>
                            <figure class="post-image tf_clearfix">
                              <a
                                href="pentingnya-pendidikan-agama-untuk-tumbuhkembang-anak/index.html"
                              >
                                <img
                                  decoding="async"
                                  src="/galeri/2021/11/ponpes-kanzul ulum-brebes-artikel1.jpg"
                                  width="600"
                                  height="350"
                                  title="Pentingnya Pendidikan Agama untuk Tumbuhkembang Anak"
                                  alt="Pentingnya Pendidikan Agama untuk Tumbuhkembang Anak"
                                />
                              </a>
                            </figure>
                            <div class="post-content">
                              <div class="post-content-inner">
                                <div
                                  class="post-date-wrap post-date-inline"
                                >
                                  <time
                                    class="post-date entry-date updated"
                                    datetime="2021-11-24"
                                  >
                                    <span class="year"
                                      >November 24, 2021</span
                                    >
                                  </time>
                                </div><!-- .post-date-wrap -->

                                <h2 class="post-title entry-title">
                                  <a
                                    href="pentingnya-pendidikan-agama-untuk-tumbuhkembang-anak/index.html"
                                    >Pentingnya Pendidikan Agama untuk
                                    Tumbuhkembang Anak</a
                                  >
                                </h2>

                                <div class="entry-content">
                                </div><!-- /.entry-content -->
                              </div>
                              <!-- /.post-content-inner -->
                            </div>
                            <!-- /.post-content -->
                          </article>
                          <!-- /.post -->
                          <article
                            id="post-137"
                            class="post tf_clearfix post-137 type-post status-publish format-standard has-post-thumbnail hentry category-artikel tag-pendiri-ponpes-kanzul ulum-jatibarang tag-pengurus-ponpes-kanzul ulum-jatibarang tag-pondok-pesantren-kanzul ulum tag-pondok-pesantren-kanzul ulum-jatibarang-brebes tag-ponpes-kanzul ulum-brebes tag-ponpes-kanzul ulum-jatibarang tag-ponpes-kanzul ulum-jatibarang-brebes has-post-title has-post-date has-post-category no-post-tag has-post-comment has-post-author cat-5"
                          >
                            <a
                              href="pondok-pesantren-kanzul ulum-jatibarang-brebes/index.html"
                              aria-label="Pondok Pesantren Darussalam Jatibarang Brebes"
                              data-post-permalink="yes"
                              style="display: none;"></a>
                            <figure class="post-image tf_clearfix">
                              <a
                                href="pondok-pesantren-kanzul ulum-jatibarang-brebes/index.html"
                              >
                                <img
                                  decoding="async"
                                  src="/galeri/2021/11/ponpes-kanzul ulum-brebes-artikel2.jpg"
                                  width="600"
                                  height="350"
                                  title="Pondok Pesantren Darussalam Jatibarang Brebes"
                                  alt="Pondok Pesantren Darussalam Jatibarang Brebes"
                                />
                              </a>
                            </figure>
                            <div class="post-content">
                              <div class="post-content-inner">
                                <div
                                  class="post-date-wrap post-date-inline"
                                >
                                  <time
                                    class="post-date entry-date updated"
                                    datetime="2021-11-24"
                                  >
                                    <span class="year"
                                      >November 24, 2021</span
                                    >
                                  </time>
                                </div><!-- .post-date-wrap -->

                                <h2 class="post-title entry-title">
                                  <a
                                    href="pondok-pesantren-kanzul ulum-jatibarang-brebes/index.html"
                                    >Pondok Pesantren Darussalam Jatibarang
                                    Brebes</a
                                  >
                                </h2>

                                <div class="entry-content">
                                </div><!-- /.entry-content -->
                              </div>
                              <!-- /.post-content-inner -->
                            </div>
                            <!-- /.post-content -->
                          </article>
                          <!-- /.post -->
                          <article
                            id="post-128"
                            class="post tf_clearfix post-128 type-post status-publish format-standard has-post-thumbnail hentry category-artikel tag-pondok-pesantren-kanzul ulum tag-pondok-pesantren-kanzul ulum-jatibarang-brebes tag-ponpes-kanzul ulum-jatibarang tag-sejarah-pondok-pesantren tag-sejarah-pondok-pesantren-di-indonesia tag-sejarah-ponpes-di-indonesia has-post-title has-post-date has-post-category no-post-tag has-post-comment has-post-author cat-5"
                          >
                            <a
                              href="mengenal-awal-sejarah-pondok-pesantren-di-indonesia/index.html"
                              aria-label="Mengenal Awal Sejarah Pondok Pesantren di Indonesia"
                              data-post-permalink="yes"
                              style="display: none;"></a>
                            <figure class="post-image tf_clearfix">
                              <a
                                href="mengenal-awal-sejarah-pondok-pesantren-di-indonesia/index.html"
                              >
                                <img
                                  decoding="async"
                                  src="/galeri/2021/11/ponpes-kanzul ulum-brebes-artikel3.jpg"
                                  width="600"
                                  height="350"
                                  title="Mengenal Awal Sejarah Pondok Pesantren di Indonesia"
                                  alt="Mengenal Awal Sejarah Pondok Pesantren di Indonesia"
                                />
                              </a>
                            </figure>
                            <div class="post-content">
                              <div class="post-content-inner">
                                <div
                                  class="post-date-wrap post-date-inline"
                                >
                                  <time
                                    class="post-date entry-date updated"
                                    datetime="2021-11-24"
                                  >
                                    <span class="year"
                                      >November 24, 2021</span
                                    >
                                  </time>
                                </div><!-- .post-date-wrap -->

                                <h2 class="post-title entry-title">
                                  <a
                                    href="mengenal-awal-sejarah-pondok-pesantren-di-indonesia/index.html"
                                    >Mengenal Awal Sejarah Pondok Pesantren
                                    di Indonesia</a
                                  >
                                </h2>

                                <div class="entry-content">
                                </div><!-- /.entry-content -->
                              </div>
                              <!-- /.post-content-inner -->
                            </div>
                            <!-- /.post-content -->
                          </article>
                          <!-- /.post -->
                        </div><!-- .builder-posts-wrap -->
                      </div>
                      <!-- /module post -->
                      <div
                        class="module tf_clearfix themify_builder_slider_wrap module-slider tb_ljxi486 slider-default hide-desktop"
                        data-lazy="1"
                      >
                        <div
                          class="themify_builder_slider tf_carousel tf_swiper-container tf_rel tf_overflow"
                          data-lazy="1"
                          data-tbreakpoints="1280"
                          data-mbreakpoints="680"
                          data-visible="2"
                          data-tab-visible="0"
                          data-mob-visible="0"
                          data-scroll="1"
                          data-auto="2000"
                          data-controller="0"
                          data-pause_hover="0"
                          data-speed="1"
                          data-wrapvar="0"
                          data-slider_nav="0"
                          data-pager="0"
                          data-effect="scroll"
                          data-height="variable"
                          data-horizontal="0"
                          data-css_url="https:/wp-content/themes/themify-ultra/themify/themify-builder/css/modules/sliders/carousel.css,https:/wp-content/themes/themify-ultra/themify/themify-builder/css/modules/sliders/slider.css"
                        >
                          <div
                            class="tf_swiper-wrapper tf_lazy tf_rel tf_w tf_h tf_textc"
                          >
                            <div class="tf_swiper-slide">
                              <div class="slide-inner-wrap">
                                <figure class="tf_lazy slide-image">
                                  <a
                                    href="pentingnya-pendidikan-agama-untuk-tumbuhkembang-anak/index.html"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/11/ponpes-kanzul ulum-brebes-artikel1.jpg"
                                      width="600"
                                      height="350"
                                      title="Pentingnya Pendidikan Agama untuk Tumbuhkembang Anak"
                                      alt="Pentingnya Pendidikan Agama untuk Tumbuhkembang Anak"
                                    />
                                  </a>
                                </figure>

                                <div class="slide-content tb_text_wrap">
                                  <h3 class="slide-title">
                                    <a
                                      href="pentingnya-pendidikan-agama-untuk-tumbuhkembang-anak/index.html"
                                    >
                                      Pentingnya Pendidikan Agama untuk
                                      Tumbuhkembang Anak
                                    </a>
                                  </h3>
                                </div>
                                <!-- /slide-content -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div class="slide-inner-wrap">
                                <figure class="tf_lazy slide-image">
                                  <a
                                    href="pondok-pesantren-kanzul ulum-jatibarang-brebes/index.html"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/11/ponpes-kanzul ulum-brebes-artikel2.jpg"
                                      width="600"
                                      height="350"
                                      title="Pondok Pesantren Darussalam Jatibarang Brebes"
                                      alt="Pondok Pesantren Darussalam Jatibarang Brebes"
                                    />
                                  </a>
                                </figure>

                                <div class="slide-content tb_text_wrap">
                                  <h3 class="slide-title">
                                    <a
                                      href="pondok-pesantren-kanzul ulum-jatibarang-brebes/index.html"
                                    >
                                      Pondok Pesantren Kanzul Ulum Cirebon
                                    </a>
                                  </h3>
                                </div>
                                <!-- /slide-content -->
                              </div>
                            </div>
                            <div class="tf_swiper-slide">
                              <div class="slide-inner-wrap">
                                <figure class="tf_lazy slide-image">
                                  <a
                                    href="mengenal-awal-sejarah-pondok-pesantren-di-indonesia/index.html"
                                  >
                                    <img
                                      decoding="async"
                                      src="/galeri/2021/11/ponpes-kanzul ulum-brebes-artikel3.jpg"
                                      width="600"
                                      height="350"
                                      title="Mengenal Awal Sejarah Pondok Pesantren di Indonesia"
                                      alt="Mengenal Awal Sejarah Pondok Pesantren di Indonesia"
                                    />
                                  </a>
                                </figure>

                                <div class="slide-content tb_text_wrap">
                                  <h3 class="slide-title">
                                    <a
                                      href="mengenal-awal-sejarah-pondok-pesantren-di-indonesia/index.html"
                                    >
                                      Mengenal Awal Sejarah Pondok Pesantren
                                      di Indonesia
                                    </a>
                                  </h3>
                                </div>
                                <!-- /slide-content -->
                              </div>
                            </div>
                            <!-- /themify_builder_slider -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /row_inner -->
              </div>
              <!-- /module_row -->
            </div>
            <!--/themify_builder_content-->
            <!-- /comments -->
          </div>
          <!-- /.post-content -->
        </div>
        <!-- /.type-page -->
      </main>
      <!-- /content -->
    </div>
    <!-- /layout-container -->
  </div><!-- /body -->