<!-- module_row -->
<style>
    .add-padding{
        @apply !pt-4;
    }
</style>
<div data-lazy="1"
class="module_row themify_builder_row repeat tb_35iz104 tf_clearfix hide-desktop">
<div class="row_inner col_align_top tf_box tf_w tf_rel add-padding">
    <div data-lazy="1"
        class="module_column tb-column col-full first tb_b6ms105 tf_box">
        <div class="tb-column-inner tf_box tf_w">
            <!-- module plain text -->
            <div class="module module-plain-text tb_foyr113 " data-lazy="1">
                <div class="tb_text_wrap">
                    <h5><b>Hubungi Kami</b></h5>
                </div>
            </div>
            <!-- /module plain text -->
        </div>
    </div>
</div>
<!-- /row_inner -->
</div>
<!-- /module_row -->